<%= javascript_include_tag 'responsive-tabs' %>

<div class="modal fade modal-profile" id="show-brands-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog influencer-profile-modal" role="document">
    <div class="modal-content view-profile-modal">
      <div class="modal-header">
        <button type="button" class="close view-profile-modal-close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
          <div class="display-inline-block influencer-modal-image">
            <%= image_tag(influencer.profile_picture, :class => 'explore-influencer-picture', :alt => 'profile-picture') %>
          </div>

          <div class="display-inline-block influencer-modal-details">
            <h4 class="font-raleway"><%= influencer.full_name %></h4>
            <p class="title font-raleway"></p>
            <p class="influencer-address font-raleway"> <%= influencer.location %></p>
          </div>

          <div class="display-inline-block pull-right like-send-request">
            <div class="follower-box font-raleway">
              <div class="follower-number"><%= influencer.max_followers %></div>
              <p> Likes</p>
            </div>
            <div class="btn-box btn-send-request">
              <%= link_to 'Send Request', new_campaign_path(receiver_id: influencer.id, social_account_id: influencer.active_facebook_accounts.first.id), class: 'btn btn-message button-border-yellow btn-send-offer-request font-raleway', data: {href: new_campaign_path(receiver_id: influencer.id)} %>
            </div>
          </div>

        <div class="">
          <p class="profile-info font-raleway">
            <%= influencer.short_bio %>
          </p>
        </div>
        <!-- start of pricing section -->

        <% if influencer.active_facebook_accounts.present? %>

            <h4 class="font-raleway"> Pricing</h4>

            <div class="row pricing-section">
              <div class="col-md-12">
                <div class="social-account-tabs">
                  <ul class="nav nav-tabs social-account-nav-tabs responsive influencer-social-account-nav-tabs">
                    <% influencer.active_facebook_accounts.each do |account| %>
                        <li class="influencer-social-account-tab" data-id="<%= account.id %>">
                          <a data-toggle="tab" href="#fb_<%= account.id %>"><i class="social-account-fa-edit fa fa-facebook"></i> <%= account.name %>
                          </a></li>
                    <% end %>
                  </ul>

                  <div class="tab-content responsive social-account-tab-content font-raleway">
                    <% influencer.active_facebook_accounts.each do |account| %>
                        <div id="fb_<%= account.id %>" class="tab-pane">

                          <%= render 'facebook/page_insights', account: account %>
                          <br/>

                          <div class="form-group">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                              <%= label_tag :status_update_cost, 'Status Update' %>
                              <%= text_field_tag '', account.status_update_cost, :disabled => true %> INR
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                              <%= label_tag :cover_photo_cost, 'Cover Photo' %>
                              <%= text_field_tag '', account.cover_photo_cost, :disabled => true %> INR
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                              <%= label_tag :profile_photo_cost, 'Profile Photo' %>
                              <%= text_field_tag '', account.profile_photo_cost, :disabled => true %> INR
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                              <%= label_tag :video_post_cost, 'Video Post' %>
                              <%= text_field_tag '', account.video_post_cost, :disabled => true %> INR
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                              <%= label_tag :photo_post_cost, 'Photo Post'  %>
                              <%= text_field_tag '', account.photo_post_cost, :disabled => true %> INR
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                            </div>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>

        <div class="social-media-info font-raleway"> Social Media Information</div>
        <p>
          <span class="view-profile-fb-twitter-color">Facebook:</span>
          <a href="<%= "https://www.facebook.com/app_scoped_user_id/#{influencer.uid}/" %>">
            <%= "https://www.facebook.com/app_scoped_user_id/#{influencer.uid}/" %>
          </a>
        </p>

        <p class="font-raleway"><span class="view-profile-fb-twitter-color"> &nbsp;  &nbsp; Twitter:</span> N/A</p>

        <div class="row">
          <div class="col-md-6">
            <div class="view-profile-industry font-raleway"> Industry</div>
            <p class="font-raleway"><%= influencer.categories.pluck(:name).join(', ') if influencer.categories.present? %></p>
          </div>
          <div class="col-md-6">
            <div class="view-profile-industry font-raleway"> Location</div>
            <p class="font-raleway"><%= influencer.location %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $('.social-account-nav-tabs a:first').tab('show');

    $(function(){
        $('.influencer-social-account-tab').click(function(){
            var offerSendBtn = $('a.btn-send-offer-request');
            var baseOfferUrl = offerSendBtn.data('href');
            console.log('current profile base url is ' + baseOfferUrl);

            var socialAccountId = $(this).data('id');
            var newUrl = baseOfferUrl + '&social_account_id=' + socialAccountId;
            offerSendBtn.prop("href", newUrl);

            console.log('Now new url is  ' + offerSendBtn.prop('href'));
        });

        fakewaffle.responsiveTabs(['xs', 'sm']);
    });
</script>
