<%= javascript_include_tag 'responsive-tabs' %>
<%= stylesheet_link_tag 'profile_modal', media: 'all' %>

<div class="modal fade modal-profile" id="show-brands-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog influencer-profile-modal" role="document">
    <div class="modal-content view-profile-modal">
      <div class="modal-header">
        <button type="button" class="close view-profile-modal-close btn-outline-transparent" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="display-inline-block influencer-modal-image vertical-align-middle">
          <%= image_tag(account.page_picture, :class => 'explore-influencer-picture', :alt => 'profile-picture') %>
        </div>

        <div class="display-inline-block influencer-modal-details vertical-align-middle">
          <h4 class="title font-raleway"><%= account.name %></h4>
        </div>

        <div class="display-inline-block pull-right like-send-request">
          <div class="btn-box btn-send-request">
            <% if account.influencer.community? %>
                <%= link_to 'Send Request', new_campaign_path(receiver_id: account.influencer.id, social_account_id: account.id), class: 'btn-brand-send-campaign-request', data: {href: new_campaign_path(receiver_id: account.influencer.id)} %>
            <% else %>
                <%= form_tag(campaign_to_celebrity_campaigns_path(receiver_id: account.influencer.id, social_account_id: account.id), method: 'post', id: 'celebrity_request_confirm') do %>
                    <%= submit_tag 'Send Request', class: 'btn-brand-send-campaign-request' %>
                <% end %>
            <% end %>
          </div>
        </div>

        <div class="">
          <p class="profile-info font-raleway">
            <%= account.about %>
          </p>
        </div>
        <!-- start of pricing section -->

        <% if account.present? %>

            <h4 class="font-raleway"> Pricing</h4>

            <div class="row pricing-section">
              <div class="col-md-12">
                <div class="social-account-tabs">

                  <div class="responsive social-account-tab-content influencer-social-tab-content font-raleway">

                    <%= render 'facebook/page_insights', account: account %>
                    <br/>

                    <div class="form-group">
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <%= label_tag :status_update_cost, 'Status Update' %>
                        <%= text_field_tag '', FacebookAccount.increase_price_for_brand(current_user, account.status_update_cost), :disabled => true %> INR<div class="display-inline-block extra-space"></div>
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <%= label_tag :cover_photo_cost, 'Cover Photo' %>
                        <%= text_field_tag '', FacebookAccount.increase_price_for_brand(current_user, account.cover_photo_cost), :disabled => true %> INR/day
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <%= label_tag :video_post_cost, 'Video Post' %>
                        <%= text_field_tag '', FacebookAccount.increase_price_for_brand(current_user, account.video_post_cost), :disabled => true %> INR<div class="display-inline-block extra-space"></div>
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <%= label_tag :profile_photo_cost, 'Profile Photo' %>
                        <%= text_field_tag '', FacebookAccount.increase_price_for_brand(current_user, account.profile_photo_cost), :disabled => true %> INR/day
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <%= label_tag :photo_post_cost, 'Photo Post'  %>
                        <%= text_field_tag '', FacebookAccount.increase_price_for_brand(current_user, account.photo_post_cost), :disabled => true %> INR<div class="display-inline-block extra-space"></div>
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>

        <span class="color-gray stat-gender">STATISTICS BY GENDER AGE RANGE</span>
        <div class="box">
          <div class="box-body">
            <div class="pad">
              <!-- Map will be created here -->
              <div id="show-age-map" style="height: 325px;"></div>

              <script>
                  var chart1 = AmCharts.makeChart( "show-age-map", {
                      type: "serial",
                      depth3D: 30,
                      angle: 40,
                      colors: ["#a9e5ed", "#EA358C"],
                      legend: {
                          horizontalGap: 10,
                          useGraphSettings: true,
                          markerSize: 10
                      },

                      dataProvider: <%= @account.age_range_data.to_json.html_safe %>,

                      "valueAxes": [ {
                          "stackType": "regular",
                          "axisAlpha": 0,
                          "gridAlpha": 0
                      } ],

                      "graphs": [ {
                          "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>Age [[category]]: <b>[[value]]</b></span>",
                          "fillAlphas": 0.8,
                          "labelText": "[[value]]",
                          "lineAlpha": 0.4,
                          "title": "MALE",
                          "type": "column",
                          "color": "#000000",
                          "valueField": "male"
                      }, {
                          "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>Age [[category]]: <b>[[value]]</b></span>",
                          "fillAlphas": 0.8,
                          "labelText": "[[value]]",
                          "lineAlpha": 0.4,
                          "title": "FEMALE",
                          "type": "column",
                          "color": "#000000",
                          "valueField": "female"
                      } ],
                      "categoryField": "age_range",
                      "categoryAxis": {
                          "gridPosition": "start",
                          "axisAlpha": 0,
                          "gridAlpha": 0,
                          "position": "left"
                      }
                  });
              </script>
            </div>
          </div>
        </div>

        <% if @account.age_range_action_data.present? %>
            <div class="gender-age-range">
              </br>
              </br>
              <span class="color-gray stat-gender">STATISTICS OF TOTAL ACTION BUTTON CLICKS BY GENDER AGE RANGE</span>
            </div>
            <div class="box">
              <div class="box-body">
                <div class="pad">
                  <!-- Map will be created here -->
                  <div id="show-action-age-map" style="height: 325px;"></div>
                </div>
              </div>
            </div>

            <script>
              var chart = AmCharts.makeChart( "show-action-age-map", {
                type: "serial",
                depth3D: 30,
                angle: 40,
                colors: ["#a9e5ed", "#EA358C"],
                legend: {
                  horizontalGap: 10,
                  useGraphSettings: true,
                  markerSize: 10
                },

                dataProvider: <%= @account.age_range_action_data.to_json.html_safe %>,

                "valueAxes": [ {
                  "stackType": "regular",
                  "axisAlpha": 0,
                  "gridAlpha": 0
                } ],

                "graphs": [ {
                  "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>Age [[category]]: <b>[[value]]</b></span>",
                  "fillAlphas": 0.8,
                  "labelText": "[[value]]",
                  "lineAlpha": 0.4,
                  "title": "MALE",
                  "type": "column",
                  "color": "#000000",
                  "valueField": "male"
                }, {
                  "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>Age [[category]]: <b>[[value]]</b></span>",
                  "fillAlphas": 0.8,
                  "labelText": "[[value]]",
                  "lineAlpha": 0.4,
                  "title": "FEMALE",
                  "type": "column",
                  "color": "#000000",
                  "valueField": "female"
                } ],
                "categoryField": "age_range",
                "categoryAxis": {
                  "gridPosition": "start",
                  "axisAlpha": 0,
                  "gridAlpha": 0,
                  "position": "left"
                }
              });
            </script>
        <% end %>

        <% if @account.action_device_data.present? %>
            <div class="action-device">
              </br>
              <span class="color-gray stat-gender">STATISTICS OF PEOPLE WHO CLICKED ACTION BUTTON BY DEVICE</span>
            </div>
            <div class="box">
              <div class="box-body">
                <div class="pad">
                  <!-- Map will be created here -->
                  <div id="show-action-device-map" style="height: 325px;"></div>
                </div>
              </div>
            </div>

            <script>
              var chart = AmCharts.makeChart( "show-action-device-map", {
                type: "serial",
                depth3D: 30,
                angle: 40,
                colors: ["#a9e5ed", "#EA358C"],
                legend: {
                  horizontalGap: 60,
                  useGraphSettings: true,
                  markerSize: 10
                },

                dataProvider: <%= @account.action_device_data.to_json.html_safe %>,

                "valueAxes": [ {
                  "stackType": "regular",
                  "axisAlpha": 0,
                  "gridAlpha": 0
                } ],

                "graphs": [ {
                  "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                  "fillAlphas": 0.8,
                  "labelText": "[[value]]",
                  "lineAlpha": 0.4,
                  "title": "PEOPLE ON MOBILE DEVICES",
                  "type": "column",
                  "color": "#000000",
                  "valueField": "mobile"
                }, {
                  "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                  "fillAlphas": 0.8,
                  "labelText": "[[value]]",
                  "lineAlpha": 0.4,
                  "title": "PEOPLE ON COMPUTERS",
                  "type": "column",
                  "color": "#000000",
                  "valueField": "computer"
                } ],
                "categoryField": "user_group",
                "categoryAxis": {
                  "gridPosition": "start",
                  "axisAlpha": 0,
                  "gridAlpha": 0,
                  "position": "left"
                }
              });
            </script>
        <% end %>

        <% if @account.action_line_chart_data[:flag].present? &&  @account.action_line_chart_data[:flag] != 0 %>
            <section class="action-chart-info">
              </br>
              </br>
              <span class="color-gray stat-gender">STATISTICS BY TOTAL ACTIONS ON PAGE</span>
              </br>
            </section>

            <div class="action-chart">
              <!-- Total Action Chart Canvas -->
              <canvas id="actionChart" height="100"></canvas>
              </br>
              </br>
            </div>

            <script>
              $( '#profile-modal' ).on('shown.bs.modal', function(e) {
                // Get context with jQuery - using jQuery's .get() method.
                var actionChartCanvas = $("#actionChart").get(0).getContext("2d");
                // This will get the first returned node in the jQuery collection.
                var actionChart = new Chart(actionChartCanvas);

                var actionChartData = {
                  labels: <%= @account.action_line_chart_data[:labels].to_json.html_safe %>,
                  datasets: <%= @account.action_line_chart_data[:datasets].to_json.html_safe %>
                };

                var actionChartOptions = {
                  //Boolean - If we should show the scale at all
                  //showScale: true,
                  //Boolean - Whether grid lines are shown across the chart
                  scaleShowGridLines: true,
                  //String - Colour of the grid lines
                  scaleGridLineColor: "rgba(0,0,0,.05)",
                  //Number - Width of the grid lines
                  scaleGridLineWidth: 1,
                  //Boolean - Whether to show horizontal lines (except X axis)
                  scaleShowHorizontalLines: true,
                  //Boolean - Whether to show vertical lines (except Y axis)
                  scaleShowVerticalLines: false,
                  //Boolean - Whether the line is curved between points
                  bezierCurve: true,
                  //Number - Tension of the bezier curve between points
                  bezierCurveTension: 0.3,
                  //Boolean - Whether to show a dot for each point
                  pointDot: false,
                  //Number - Radius of each point dot in pixels
                  pointDotRadius: 4,
                  //Number - Pixel width of point dot stroke
                  pointDotStrokeWidth: 1,
                  //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                  pointHitDetectionRadius: 20,
                  //Boolean - Whether to show a stroke for datasets
                  datasetStroke: true,
                  //Number - Pixel width of dataset stroke
                  datasetStrokeWidth: 2,
                  //Boolean - Whether to fill the dataset with a color
                  datasetFill: false,
                  //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                  maintainAspectRatio: false,
                  //Boolean - whether to make the chart responsive to window resizing
                  responsive: true
                };

                //Create the line chart
                actionChart.Line(actionChartData, actionChartOptions);
                $(this).off('shown.bs.modal');
              });
            </script>
        <% end %>

        <% if @account.people_action_line_chart_data[:flag].present? && @account.people_action_line_chart_data[:flag] != 0 %>
            <section class="people-action-info">
              </br>
              <span class="color-gray stat-gender">STATISTICS BY PEOPLE WHO CLICKED ACTION BUTTON</span>
            </section>

            <div class="people-action-chart">
              </br>
              <canvas id="peopleActionChart" height="100"></canvas>
              </br>
            </div>

            <script>
              $( '#profile-modal' ).on('shown.bs.modal', function(e) {
                // Get context with jQuery - using jQuery's .get() method.
                var peopleActionChartCanvas = $("#peopleActionChart").get(0).getContext("2d");
                // This will get the first returned node in the jQuery collection.
                var peopleActionChart = new Chart(peopleActionChartCanvas);

                var peopleActionChartData = {
                  labels: <%= @account.people_action_line_chart_data[:labels].to_json.html_safe %>,
                  datasets: <%= @account.people_action_line_chart_data[:datasets].to_json.html_safe %>
                };

                var peopleActionChartOptions = {
                  //Boolean - If we should show the scale at all
                  //showScale: true,
                  //Boolean - Whether grid lines are shown across the chart
                  scaleShowGridLines: true,
                  //String - Colour of the grid lines
                  scaleGridLineColor: "rgba(0,0,0,.05)",
                  //Number - Width of the grid lines
                  scaleGridLineWidth: 1,
                  //Boolean - Whether to show horizontal lines (except X axis)
                  scaleShowHorizontalLines: true,
                  //Boolean - Whether to show vertical lines (except Y axis)
                  scaleShowVerticalLines: false,
                  //Boolean - Whether the line is curved between points
                  bezierCurve: true,
                  //Number - Tension of the bezier curve between points
                  bezierCurveTension: 0.3,
                  //Boolean - Whether to show a dot for each point
                  pointDot: false,
                  //Number - Radius of each point dot in pixels
                  pointDotRadius: 4,
                  //Number - Pixel width of point dot stroke
                  pointDotStrokeWidth: 1,
                  //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                  pointHitDetectionRadius: 20,
                  //Boolean - Whether to show a stroke for datasets
                  datasetStroke: true,
                  //Number - Pixel width of dataset stroke
                  datasetStrokeWidth: 2,
                  //Boolean - Whether to fill the dataset with a color
                  datasetFill: false,
                  //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                  maintainAspectRatio: false,
                  //Boolean - whether to make the chart responsive to window resizing
                  responsive: true
                };

                //Create the line chart
                peopleActionChart.Line(peopleActionChartData, peopleActionChartOptions);

                $(this).off('shown.bs.modal');
              });
            </script>
        <% end %>

        <div class="color-gray stat-country bg-white">

          <br>
          <br>
          STATISTICS BY COUNTRY / CITIES
        </div>

        <div class="box box-info">
          <div class="box-body">
            <table class="table no-margin table-striped table-responsive statistic-table active" id="stats-cities">
              <thead>
              <tr>
                <th>
                  <div class="dropdown">
                    <label class="drop-down-label">VIEW BY:</label>
                    <button class="btn view-country dropdown-toggle" type="button" data-toggle="dropdown">
                      <i class="fa fa-angle-down angle-down-cities pull-right"></i>
                      CITIES
                    </button>
                    <ul class="dropdown-menu custom-dropdown-menu">
                      <li><a href="#stats-countries" class="js-stats-toggle">Country</a></li>
                    </ul>
                  </div>
                </th>
                <th> <span class="glyphicon icon-love"></span> &nbsp;Likes </th>
                <th> <span class="glyphicon icon-comment"></span> &nbsp;Post Reach(Past 1 year) </th>
              </tr>
              </thead>
              <tbody>
              <% @account.city_data.map { |city_name, data| %>
                  <% if city_name.ends_with?('India') %>
                      <tr>
                        <td><%= city_name %></td>
                        <td><%= number_with_delimiter(data[:likes]) %></td>
                        <td><%= number_with_delimiter(data[:reach]) %></td>
                      </tr>
                  <% end %>
              <% } %>
              </tbody>
            </table>

            <table class="table no-margin table-striped table-responsive statistic-table " id="stats-countries">
              <thead>
              <tr>
                <th>
                  <div class="dropdown">
                    <label class="drop-down-label">VIEW BY:</label>
                    <button class="btn view-country dropdown-toggle" type="button" data-toggle="dropdown">
                      <i class="fa fa-angle-down angle-down-cities pull-right"></i>
                      COUNTRY
                    </button>
                    <ul class="dropdown-menu custom-dropdown-menu">
                      <li><a href="#stats-cities" class="js-stats-toggle">CITIES</a></li>
                    </ul>
                  </div>
                </th>
                <th> <span class="glyphicon icon-love"></span> &nbsp;Likes </th>
                <th> <span class="glyphicon icon-comment"></span> &nbsp;Post Reach </th>
              </tr>
              </thead>
              <tbody>
              <% india = @account.country_data['India'] %>
              <tr>
                <td><span class="flag-icon flag-icon-<%= india[:country_code].downcase %>"></span> India</td>
                <td><%= number_with_delimiter(india[:likes]) %></td>
                <td><%= number_with_delimiter(india[:reach]) %></td>
              </tr>
              </tbody>
            </table>

            <script>
                $('.js-stats-toggle').click(function() {
                    $('.statistic-table').removeClass('active');
                    $($(this).attr('href')).addClass('active');
                    return false;
                });
            </script>
          </div>
        </div>

        <div class="social-media-info font-raleway"> Social Media Information</div>
        <p>
          <span class="view-profile-fb-twitter-color">Facebook:</span>
          <a href="<%= account.url %>" target="_blank">
            <%= account.url %>
          </a>
        </p>

        <div class="row">
          <div class="col-md-6">
            <div class="view-profile-industry font-raleway"> Industry</div>
            <p class="font-raleway"><%= account.categories.pluck(:name).join(', ') if account.categories.present? %></p>
          </div>
          <div class="col-md-6">
            <div class="view-profile-industry font-raleway"> Influencer</div>
            <p class="font-raleway"><a href="<%= show_user_profile_path(account.influencer.id) %>" data-remote="true"><%= account.influencer.name %></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('#celebrity_request_confirm').submit(function(e) {
        var currentForm = this;
        e.preventDefault();
        bootbox.confirm("All our Celebrities charge is more than 20,000 INR. Do you want to send request to Celebrity? ", function(result) {
            if (result) {
                currentForm.submit();
            }
        });
    });
</script>