<div class="modal fade modal-profile" id="show-brands-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog influencer-profile-modal" role="document">
    <div class="modal-content view-profile-modal">
      <div class="modal-header">
        <button type="button" class="close view-profile-modal-close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="row ">
          <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                <%= image_tag(influencer.profile_picture, :class => 'explore-influencer-picture', :alt => "profile-picture") %>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                <h4><%= influencer.full_name.present? ? influencer.full_name : 'USER' %></h4>
                <p class="title"> <%= influencer.industry.present? ? influencer.industry : 'Entrepreneur' %> </p>
                <p class="influencer-address"> <%= influencer.street_address.present? ? influencer.street_address : 'User Address'  %></p>
              </div>
            </div>
          </div>

          <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
            <div class="btn-box pull-right">
              <%= link_to 'Send Request', new_campaign_path(receiver_id: influencer.id), class: 'btn btn-message', data: {href: new_campaign_path(receiver_id: influencer.id)} %>
            </div>
            <div class="follower-box pull-right">
              <span class="follower-number"> 23,456 </span>

              <p> Followers</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="profile-info">
              <%= influencer.short_bio %>
            </p>
          </div>
        </div>
        <!-- start of pricing section -->

        <% if influencer.facebook_accounts.present? %>

            <h4> Pricing</h4>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="social-account-tabs">
                  <ul class="nav nav-tabs social-account-nav-tabs influencer-social-account-nav-tabs">
                    <% influencer.facebook_accounts.each do |account| %>
                        <li class="influencer-social-account-tab" data-id="<%= account.id %>"><a data-toggle="tab" href="#fb_<%= account.id %>"><i class="social-account-fa-edit fa fa-facebook"></i> <%= account.name %></a></li>
                    <% end %>
                  </ul>

                  <div class="tab-content social-account-tab-content">
                    <% influencer.facebook_accounts.each do |account| %>
                        <div id="fb_<%= account.id %>" class="tab-pane">
                          <div class="form-group">
                            <div class="col-md-5 col-sm-8 col-xs-11">
                              <%= label_tag :status_update_cost, "Status Update" %>$
                              <%= text_field_tag '', account.status_update_cost %> INR
                            </div>
                            <div class="col-md-6 col-sm-8 col-xs-11">
                              <%= label_tag :cover_photo_cost, "Cover Photo" %>$
                              <%= text_field_tag '', account.cover_photo_cost %> INR
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-5 col-sm-8 col-xs-11">
                              <%= label_tag :profile_photo_cost, "Profile Photo" %>$
                              <%= text_field_tag '', account.profile_photo_cost %> INR
                            </div>
                            <div class="col-md-6 col-sm-8 col-xs-11">
                              <%= label_tag :video_post_cost, "Video Post" %>$
                              <%= text_field_tag '', account.video_post_cost %> INR
                            </div>
                          </div>
                        </div>
                       <% end %>

                  </div>

                </div>
              </div>
            </div>
        <% end %>

        <div class="social-media-info"> Social Media Information</div>
        <p><span class="view-profile-fb-twitter-color">Facebook:</span> https://www.facebook.com/johnDoe</p>
        <p><span class="view-profile-fb-twitter-color"> &nbsp;  &nbsp; Twitter:</span> @johnross</p>

        <div class="row">
          <div class="col-md-6">
            <div class="view-profile-industry"> Industry</div>
            <p>Marketing, Production</p>
          </div>
          <div class="col-md-6">
            <div class="view-profile-industry"> Location</div>
            <p>Hyderabad, India</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $('.social-account-nav-tabs a:first').tab('show');
</script>
