<div class="modal fade modal-profile" id="show-brands-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog influencer-profile-modal" role="document">
    <div class="modal-content view-profile-modal">
      <div class="modal-header">
        <button type="button" class="close view-profile-modal-close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="row ">
          <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                <%= image_tag(influencer.profile_picture, :class => 'explore-influencer-picture', :alt => "profile-picture") %>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                <h4><%= influencer.full_name.present? ? influencer.full_name : 'USER' %></h4>
                <p class="title"> <%= influencer.industry.present? ? influencer.industry : 'Entrepreneur' %> </p>
                <p class="influencer-address"> <%= influencer.street_address.present? ? influencer.street_address : 'User Address'  %></p>
              </div>
            </div>
          </div>

          <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
            <div class="btn-box pull-right">
              <button class="btn btn-engage"> ENGAGE</button>
              <button class="btn btn-message"  data-toggle="modal" data-target="#offer-modal"> MESSAGE</button>
            </div>
            <div class="follower-box pull-right">
              <span class="follower-number"> 23,456 </span>

              <p> Followers</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="profile-info">
              <%= influencer.short_bio %>
            </p>
          </div>
        </div>
        <!-- start of pricing section -->

        <% if influencer.facebook.present? %>

            <h4> Pricing</h4>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="social-account-tabs">
                  <ul class="nav nav-tabs social-account-nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#fb_bhanu"><i class="social-account-fa-edit fa fa-facebook"></i> Bhanu Prasad</a></li>
                  </ul>

                  <div class="tab-content social-account-tab-content">
                    <div id="fb_bhanu" class="tab-pane fade in active">
                      <div class="form-group">
                        <div class="col-md-5 col-sm-8 col-xs-11">
                          <%= label_tag '', 'Status Update' %> $
                          <%= text_field_tag  '', influencer.facebook.status_update_price, disabled: true %> USD
                        </div>
                        <div class="col-md-6 col-sm-8 col-xs-11">
                          <%= label_tag '', 'Cover Photo' %> $
                          <%= text_field_tag  '', influencer.facebook.banner_photo_price, disabled: true %> USD
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-5 col-sm-8 col-xs-11">
                          <%= label_tag '', 'Profile Photo' %> $
                          <%= text_field_tag  '', influencer.facebook.profile_photo_price, disabled: true %> USD
                        </div>
                        <div class="col-md-6 col-sm-8 col-xs-11">
                          <%= label_tag '', 'Video Post' %> $
                          <%= text_field_tag  '', influencer.facebook.video_post_price, disabled: true %> USD
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>

        <div class="social-media-info"> Social Media Information</div>
        <p><span class="view-profile-fb-twitter-color">Facebook:</span> https://www.facebook.com/johnDoe</p>
        <p><span class="view-profile-fb-twitter-color"> &nbsp;  &nbsp; Twitter:</span> @johnross</p>

        <div class="row">
          <div class="col-md-6">
            <div class="view-profile-industry"> Industry</div>
            <p>Marketing, Production</p>
          </div>
          <div class="col-md-6">
            <div class="view-profile-industry"> Location</div>
            <p>Hyderabad, India</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal code for message/new offer modal -->

<div id="offer-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New offer </h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'shared/offer', locals: { sender: current_user, receiver: influencer } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Send Offer</button>
      </div>
    </div>
  </div>
</div>

<!--- end of message/new offer modal-->