<%= javascript_include_tag 'responsive-tabs' %>
<%= stylesheet_link_tag 'profile_modal', media: 'all' %>

<div class="modal fade modal-profile" id="show-brands-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog influencer-profile-modal" role="document">
    <div class="modal-content view-profile-modal">
      <div class="modal-header">
        <button type="button" class="close view-profile-modal-close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="display-inline-block influencer-modal-image vertical-align-middle">
          <%= image_tag(account.page_picture, :class => 'explore-influencer-picture', :alt => 'profile-picture') %>
        </div>

        <div class="display-inline-block influencer-modal-details vertical-align-middle">
          <h4 class="title font-raleway"><%= account.name %></h4>
        </div>

        <div class="display-inline-block pull-right like-send-request">
          <div class="btn-box btn-send-request">
            <% if account.influencer.community? %>
                <%= link_to 'Send Request', new_campaign_path(receiver_id: account.influencer.id, social_account_id: account.id), class: 'btn-brand-send-campaign-request', data: {href: new_campaign_path(receiver_id: account.influencer.id)} %>
            <% else %>
                <%= link_to 'Send Request', campaign_to_celebrity_campaigns_path(receiver_id: account.influencer.id, social_account_id: account.id), method: :post, class: 'btn-brand-send-campaign-request' %>
            <% end %>
          </div>
        </div>

        <div class="">
          <p class="profile-info font-raleway">
            <%= account.about %>
          </p>
        </div>
        <!-- start of pricing section -->

        <% if account.present? %>

            <h4 class="font-raleway"> Pricing</h4>

            <div class="row pricing-section">
              <div class="col-md-12">
                <div class="social-account-tabs">

                  <div class="responsive social-account-tab-content influencer-social-tab-content font-raleway">

                    <%= render 'facebook/page_insights', account: account %>
                    <br/>

                    <div class="form-group">
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <%= label_tag :status_update_cost, 'Status Update' %>
                        <%= text_field_tag '', account.status_update_cost, :disabled => true %> INR<div class="display-inline-block extra-space"></div>
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <%= label_tag :cover_photo_cost, 'Cover Photo' %>
                        <%= text_field_tag '', account.cover_photo_cost, :disabled => true %> INR/day
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <%= label_tag :video_post_cost, 'Video Post' %>
                        <%= text_field_tag '', account.video_post_cost, :disabled => true %> INR<div class="display-inline-block extra-space"></div>
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <%= label_tag :profile_photo_cost, 'Profile Photo' %>
                        <%= text_field_tag '', account.profile_photo_cost, :disabled => true %> INR/day
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <%= label_tag :photo_post_cost, 'Photo Post'  %>
                        <%= text_field_tag '', account.photo_post_cost, :disabled => true %> INR<div class="display-inline-block extra-space"></div>
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>

        <div class="color-gray stat-country bg-white">

          <br>
          <br>
          STATISTICS BY COUNTRY / CITIES
        </div>

        <div class="box box-info">
          <div class="box-body">
            <table class="table no-margin table-striped table-responsive statistic-table active" id="stats-countries">
              <thead>
              <tr>
                <th>
                  <div class="dropdown">
                    <label class="drop-down-label">VIEW BY:</label>
                    <button class="btn view-country dropdown-toggle" type="button" data-toggle="dropdown">
                      <i class="fa fa-angle-down angle-down-cities pull-right"></i>
                      COUNTRY
                    </button>
                    <ul class="dropdown-menu custom-dropdown-menu">
                      <li><a href="#stats-cities" class="js-stats-toggle">CITIES</a></li>
                    </ul>
                  </div>
                </th>
                <th> <span class="glyphicon icon-love"></span> &nbsp;Likes </th>
                <th> <span class="glyphicon icon-comment"></span> &nbsp;Post Reach </th>
              </tr>
              </thead>
              <tbody>
              <% @account.country_data.each do |country_name, data| %>
                  <tr>
                    <td><span class="flag-icon flag-icon-<%= data[:country_code].downcase %>"></span> <%= country_name %></td>
                    <td><%= number_with_delimiter(data[:likes]) %></td>
                    <td><%= number_with_delimiter(data[:reach]) %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>

            <table class="table no-margin table-striped table-responsive statistic-table" id="stats-cities">
              <thead>
              <tr>
                <th>
                  <div class="dropdown">
                    <label class="drop-down-label">VIEW BY:</label>
                    <button class="btn view-country dropdown-toggle" type="button" data-toggle="dropdown">
                      <i class="fa fa-angle-down angle-down-cities pull-right"></i>
                      Cities
                    </button>
                    <ul class="dropdown-menu custom-dropdown-menu">
                      <li><a href="#stats-countries" class="js-stats-toggle">Country</a></li>
                    </ul>
                  </div>
                </th>
                <th> <span class="glyphicon icon-love"></span> &nbsp;Likes </th>
                <th> <span class="glyphicon icon-comment"></span> &nbsp;Post Reach </th>
              </tr>
              </thead>
              <tbody>
              <% @account.city_data.each do |city_name, data| %>
                  <tr>
                    <td><%= city_name %></td>
                    <td><%= number_with_delimiter(data[:likes]) %></td>
                    <td><%= number_with_delimiter(data[:reach]) %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>

            <script>
                $('.js-stats-toggle').click(function() {
                    $('.statistic-table').removeClass('active');
                    $($(this).attr('href')).addClass('active');
                    return false;
                });
            </script>
          </div>
        </div>

        <div class="social-media-info font-raleway"> Social Media Information</div>
        <p>
          <span class="view-profile-fb-twitter-color">Facebook:</span>
          <a href="<%= account.url %>" target="_blank">
            <%= account.url %>
          </a>
        </p>

        <div class="row">
          <div class="col-md-6">
            <div class="view-profile-industry font-raleway"> Industry</div>
            <p class="font-raleway"><%= account.categories.pluck(:name).join(', ') if account.categories.present? %></p>
          </div>
          <div class="col-md-6">
            <div class="view-profile-industry font-raleway"> Influencer</div>
            <p class="font-raleway"><a href="<%= show_user_profile_path(account.influencer.id) %>" data-remote="true"><%= account.influencer.name %></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
