<h2>Sign up</h2>

<div class="sign-up-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { parsley_validate: "" }) do |f| %>

  <div class="input_container">
    <div class="label_l">Email</div>
    <%= f.email_field :email, autofocus: true, required: true, class: 'login_input' %>
  </div>

  <div class="input_container">
    <div class="label_l">password</div>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: 'off', required: true, class: 'login_input' %>
  </div>

  <div class="input_container">
    <div class="label_l">Password confirmation</div>
    <%= f.password_field :password_confirmation, autocomplete: 'off', required: true, class: 'login_input' %>
  </div>

    <div class="field">
      <%= f.hidden_field :user_type, html_options= { value: params[:user_type]} %>
    </div>

  <div class="">
    <%= f.submit 'Sign up' %>
  </div>
<% end %>
</div>
<%= render 'devise/shared/links' %>
