<%= stylesheet_link_tag 'payments', media: 'all' %>

<% title 'Influencer Payment' %>

<div class="payment-main-content">

<div class="bank-accounts">

  <div class="influencer-payment-div">
    <p class="payment-balance">Available<span class="space"></span>Balance:<span class="balance"><%= current_user.balance %></span><span class="space"></span>INR
    </p>

    <div class="amount-withdraw">
      <%= label_tag 'withdraw_amount', 'Amount to Withdraw' %>
      <%= number_field_tag 'withdraw_amount', '' %>
      <%= button_tag 'WITHDRAW', :class => 'btn btn-withdraw button-border-yellow', id: 'btn-amount-withdraw' %>
    </div>
  </div>

  <table class="table table-striped table-bordered table-responsive bank_accounts_table">
    <thead>
    <tr class="payment-header">
      <th>Account Name</th>
      <th>Account Number</th>
      <th>Bank</th>
      <th>Country</th>
      <th>Currency</th>
      <th>Action</th>
    </tr>
    </thead>

    <% if @bank_accounts.present? %>
        <tbody>
        <% @bank_accounts.each do |bank_account| %>
            <tr id="<%= bank_account.id %>">
              <td>
                <input type="radio" name="bank_account" id="bank_account_<%= bank_account.id %>" value="<%= bank_account.id %>" data-id="<%= bank_account.id %>">&nbsp;&nbsp;<%= bank_account.account_name %>
              </td>
              <td><%= bank_account.account_number %></td>
              <td><%= bank_account.bank_name %></td>
              <td><%= Carmen::Country.coded(bank_account.country) %></td>
              <td><%= bank_account.currency %></td>
              <td><%= link_to image_tag('trash-icon.png'), bank_account_path(bank_account.id), method: :delete, data: {confirm: 'Are you sure to delete Bank Account ?'} %></td>
            </tr>
        <% end %>
        </tbody>
    <% end %>
  </table>

  <%= link_to '<i class="fa fa-plus"></i>&nbsp; Add Bank Account'.html_safe, new_bank_account_path, remote: true, :class => 'add-bank-account' %>

</div>

<div class="payment-content">

  <div class="tab-content">
    <div class="panel-payment">
      <div id="payment" class="tab-pane fade in active">
        <%= image_tag('Transactions.png', :class => 'transaction-table') %> &nbsp; Transactions
        <%= link_to 'DOWNLOAD INVOICE', '#', :class => 'btn btn-influencer-download pull-right button-border-yellow', id: 'export_payments' %>

        <table class="table table-striped table-bordered table-responsive payments_table">
          <thead>
          <tr class="payment-header">
            <th class="squaredFour" id="select_all_influencer_payment"><input type="checkbox" class="payment-header" value="all"/></th>
            <th>Date Billed</th>
            <th>Transaction ID</th>
            <th>Amount Recieved (INR)</th>
            <th>Payment Status</th>
          </tr>
          </thead>

          <% if @transactions.present? %>
              <tbody>
              <% @transactions.each do |transaction| %>
                  <tr>
                    <td class="squaredFour"><input type="checkbox" class="InfluencerPaymentCheckBox" data-id="<%= transaction.id %>" value="1"/></td>
                    <td><%= transaction.billed_date.present? ? transaction.billed_date.strftime("%B %d, %Y") : 'NA' %></td>
                    <td><%= sprintf('BP%05d', transaction.id) %></td>
                    <td><%= transaction.amount_billed %></td>
                    <td>
                      <% if transaction.pending? %>
                          <span class="status-circle status-pending"></span>Pending
                      <% elsif transaction.paid? %>
                          <span class="status-circle status-paid"></span>Paid
                      <% else %>
                          <span class="status-circle status-failed"></span>Failed
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
          <% end %>

        </table>
      </div>
    </div>
  </div>

</div>

<div id="show_bank_account_modal">
</div>

</div>

</div>

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#select_all_influencer_payment").change(function () {
            $(".InfluencerPaymentCheckBox").prop('checked', $("#select_all_influencer_payment input:checked").length);
        });

        $('#export_payments').click(function () {
            var payment_ids = [];
            $('.squaredFour input:checked').each(function () {
                payment_ids.push($(this).data('id'));
            });

            window.location.href  = "<%= export_influencer_payments_influencer_payments_path(format: :csv) %>?payment_ids=" + payment_ids;

        });

        $('.bank_accounts_table tr').click(function () {
            $(this).find('td input:radio').prop('checked', true);
        });


    });
</script>


