<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="new-modal-body__aside">
  <a href="#"><%= image_tag('logo_white.svg', :class => 'img-responsive login-modal-logo', :alt => 'logo') %></a>
  <div class="login-modal-aside-description">
    Joining Brand Reach puts you in front of marketers from top brands that are searching to connect with influencers like you.
  </div>
  <button area-label="Close" class="close new-modal-close display-none" id="new-modal-close-responsive" data-dismiss="modal" type="button">&times;</button>
</div>

<div class="new-modal-body__content">
  <button area-label="Close" class="close new-modal-close" id="new-modal-close-button" data-dismiss="modal" type="button">&times;</button>
  <div class="brand-login-modal-content-description">
    <div class="new-modal-title">FOR INFLUENCERS</div>

    <ul class="login-sign-up-ul" id="influencer_login_sign_up">
      <li class="display-inline js-sign-in <%= 'active' if type == 'sign_in' %>"><a data-toggle="tab" href="#influencer_login">Login</a></li> /
      <li class="display-inline js-sign-up <%= 'active' if type == 'sign_up' %>"><a data-toggle="tab" href="#influencer_sign_up">Sign Up</a></li>
    </ul>

    <div id="influencer_login" class="tab-pane fade-out js-sign-in <%= 'active' if type == 'sign_in' %>">
      <%= link_to "Facebook &nbsp;#{image_tag('Fb-icon-modal.png')}".html_safe, user_omniauth_authorize_path('facebook', influencer_type: 0), :class => 'btn-modal'%>
      </br>
      </br>
      </br>
      </br>
      </br>
      <div>Are you a Brand, please login  <a href="<%= brand_home_public_index_path(sign_in_modal: true) %>"><span class="here-underline">here</span></a>.</div>
    </div>


    <div id="influencer_sign_up" class="tab-pane fade-out js-sign-up <%= 'active' if type == 'sign_up' %>">
      <%= link_to "Facebook &nbsp;#{image_tag('Fb-icon-modal.png')}".html_safe, user_omniauth_authorize_path('facebook'), :class => 'btn-modal'%>
      </br>
      </br>
      <div><%= check_box_tag 'influencer-type' %>&nbsp;&nbsp;Are you a Celebrity, please check here </div>
      </br>
      </br>
      </br>
      <div>Are you a Brand, please Sign up <a href="<%= brand_home_public_index_path(sign_up_modal: true) %>"><span class="here-underline">here</span></a>.</div>
    </div>

  </div>

</div>

<script>
    $(document).ready(function () {
        $('#influencer-type').click(function() {
            var influencer_input;
            influencer_input = $('#influencer-type').prop('checked');
            if(influencer_input) {
                $('#influencer_login a[href*="influencer_type"]').attr('href','/users/auth/facebook?influencer_type=1')
            }
            else {
                $('#influencer_login a[href*="influencer_type"]').attr('href','/users/auth/facebook?influencer_type=0')
            }
            console.log($('#influencer_login a[href*="influencer_type"]').attr('href'));
        });
    });
</script>

