<div class="modal fade" id="loginModal" role="dialog">
  <div class="modal-dialog login-modal-dialog">

    <!-- Modal content-->
    <div class="modal-content login-modal-content">
      <div class="modal-header login-modal-header">
        <a href="#"><%= image_tag('Logo.png', :class => 'img-responsive login-modal-logo', :alt => "logo") %></a>
        <button type="button" class="close login-modal-close" data-dismiss="modal">&times; </button>
      </div>
      <div class="modal-body login-modal-body">
        <p>Joining Brand Reach puts you in front of marketers from top brands that are searching to connect with influencers like you</p>
        <p>Connect all your accounts below: </p>

        <div class="social-accounts-logo">
          <% if params[:action] == 'brand_home' %>
              <a href="<%= user_omniauth_authorize_path('facebook', brands: true) %>">Facebook &nbsp; &nbsp; <%= image_tag('facebook-icon.png', :alt => "fb") %></a>
              <a href="<%= new_user_session_path %>">Twitter &nbsp; &nbsp; <%= image_tag('twitter-icon.png', :alt => "twitter") %></a>
              <a href="<%= new_user_registration_path(user_type: User.user_types[:brand]) %>">Email &nbsp; &nbsp; <%= image_tag('email-icon.jpeg', :alt => "email") %></a>
          <% else %>
              <a href="<%= user_omniauth_authorize_path('facebook') %>">Facebook &nbsp; &nbsp; <%= image_tag('facebook-icon.png', :alt => "fb") %></a>
              <a href="<%= new_user_session_path %>">Twitter &nbsp; &nbsp; <%= image_tag('twitter-icon.png', :alt => "twitter") %></a>
              <a href="<%= new_user_registration_path(user_type: User.user_types[:influencer]) %>">Email &nbsp; &nbsp; <%= image_tag('email-icon.jpeg', :alt => "email") %></a>
          <%  end %>

        </div>


        <div class="login-modal-footer">
          <p>Note: </p>
          <p>Only the networks you connect will be visible to brands.</p>
          <% if params[:action] == 'brand_home' %>
              <p>If you are Influencer, please reach out to us <%= link_to "here", home_public_index_path %></p>
          <% else %>
              <p>If you are brand, please reach out to us <%= link_to "here", brand_home_public_index_path %></p>
          <%  end %>
        </div>
      </div>
    </div>

  </div>
</div>