<%= stylesheet_link_tag 'profile', media: 'all' %>

<div id="profile_image_upload_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content profile-image-modal-content">
      <div class="modal-header profile-image-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= csrf_meta_tag %>
        <%= form_for(user, url: edit_profile_picture_profile_index_path,remote: true, multipart: true, method: :post) do |f| %>
            <% if user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(user.errors.count, "error") %> prohibited this upload from being saved:</h2>

                  <ul>
                    <% user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="field">
              <%= f.label :image %><br>
              <%= f.file_field :image, required: true, pattern: '([a-zA-Z0-9\s_\\.\-:])+(.png|.jpg|.gif))' %>
            </div>


            <div class="modal-footer">
              <div class="actions">
                <%= f.submit 'Update Profile Picture', class:'btn btn-success' %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


