<%= stylesheet_link_tag 'profile-image-upload', media: 'all' %>
<style>
  .jcrop-holder{
      display: none;
  }
</style>
<div id="profile_image_upload_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content profile-image-modal-content">
      <div class="modal-header profile-image-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= csrf_meta_tag %>
        <%= form_for(user, url: edit_profile_picture_profile_index_path, remote: true, multipart: true, method: :post, data: { parsley_validate: '' }) do |f| %>
            <% if user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(user.errors.count, "error") %> prohibited this upload from being saved:</h2>

                  <ul>
                    <% user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div>
              <div class="field image-input-container">
                <%= f.label 'Select profile Image' %><br>
                <%= f.file_field :image, pattern: '([a-zA-Z0-9\s_\\.\-:])+(.png|.jpg|.gif))', class: 'display-inline-block', data: { :'parsley-required' => 'true'} %>
              </div>
              <div class="field image-field">
              </div>
              <div class="image-upload-btn-container">
                <div class="actions">
                  <button class="btn btn-info" type="submit">
                    Update Profile Picture
                  </button>
                </div>
              </div>
            </div>

            <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
                <%= hidden_field_tag attribute, :id => attribute %>
            <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        var jscrop_api;
        $('#user_image').change(function () {
//            parsely validation
            $(this).parsley().validate();

            if($(this).val()){
                console.log('selected image url is ' + $(this).val());
                $('.image-field').html('');
                $('.image-field').show();
                $('.image-field').append('<img src="" id="profile-pic-preview" />');
                $('#profile-pic-preview').hide();
                var reader = new FileReader();
                reader.onload = function (e) {
//                    $('#profile-pic-preview').show();
                    $('#profile-pic-preview').attr("src", e.target.result);
                    $('#profile-pic-preview').Jcrop({
                        onChange: update_crop,
                        onSelect: update_crop,
                        boxWidth: getWindoWidth(),
                        aspectRatio: 1,
                        setSelect:   [ 10,10, 200, 200 ]
                    }, function () {
                        jcrop_api = this;
                        var imageWidth = $('#profile-pic-preview').width();
                        setModalMaxWidthImageCrop($('#profile_image_upload_modal .modal-dialog'), imageWidth, 360 );
                        var leftPadding = 0;
                        if(imageWidth > getWindoWidth()){
                            imageWidth = getWindoWidth();
                        }

                        console.log('selected inage width is ' + imageWidth);
                        if(imageWidth > 166){
                            leftPadding = imageWidth - 166;
                        }
                        $('.jcrop-holder').show();
                        $('.image-upload-btn-container').css('padding-left', leftPadding);
                    } );
                };
                reader.readAsDataURL($(this)[0].files[0]);
            }else{
                $('.image-field').hide();
                $('.image-upload-btn-container').css('padding-left', 10);
            }

        });

    });
    function update_crop(coords) {
        $('#crop_x').val(coords.x);
        $('#crop_y').val(coords.y);
        $('#crop_w').val(coords.w);
        $('#crop_h').val(coords.h);
    }
</script>

