<%= stylesheet_link_tag 'profile-image-upload', media: 'all' %>
<style>

</style>
<div id="profile_image_upload_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content profile-image-modal-content">
      <div class="modal-header profile-image-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= csrf_meta_tag %>
        <%= form_for(user, url: edit_profile_picture_profile_index_path,remote: true, multipart: true, method: :post) do |f| %>
            <% if user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(user.errors.count, "error") %> prohibited this upload from being saved:</h2>

                  <ul>
                    <% user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="field">
              <%= f.label :image %><br>
              <%= f.file_field :image, required: true, pattern: '([a-zA-Z0-9\s_\\.\-:])+(.png|.jpg|.gif))' %>
            </div>

            <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
                <%= hidden_field_tag attribute, :id => attribute %>
            <% end %>

            <div class="field">
              <%= image_tag '', id: 'profile-pic-preview'%>
            </div>

            <div class="modal-footer">
              <div class="actions">
                <%= f.submit 'Update Profile Picture', class:'btn btn-success' %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#user_image').change(function () {
            $('#profile-pic-preview').hide();
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#profile-pic-preview').show();
                $('#profile-pic-preview').attr("src", e.target.result);
                $('#profile-pic-preview').Jcrop({
                    onChange: update_crop,
                    onSelect: update_crop,
                    aspectRatio: 1,
                    setSelect:   [ 10, 10, 400, 400 ]
                });
            }
            reader.readAsDataURL($(this)[0].files[0]);
        });

    });
    function update_crop(coords) {
        $('#crop_x').val(coords.x);
        $('#crop_y').val(coords.y);
        $('#crop_w').val(coords.w);
        $('#crop_h').val(coords.h);
    }
</script>

