<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="modal-body model-iner">
  <div class="row">
    <div class="col-md-12">
      <input name="sign-in-role" id="signin-role_influencer" value="1" class="signin-role" checked="checked" type="radio">
      <label for="signin-role_influencer">I'm an Influencer</label>
      <br>
      <input name="sign-in-role" id="signin-role_brand" value="0" class="signin-role" type="radio">
      <label for="signin-role_brand">I'm a Brand</label>
    </div>
  </div>
  <div class="row hidden" id="brand-signin">
    <div class="col-md-12">
      <% if params[:controller] == 'public' %>
          <div id="sign-in-validation-error">
          </div>
      <% end %>
      <form class="show-spinner-on-submit" method="post" accept-charset="UTF-8" action="/users/sign_in" data-remote="<%= params[:controller] == 'public' %>" data-parsley-validate="">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="input_container">
          <div class="label_l">Email</div>
          <input data-parsley-id="6021" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[email]" id="user_email" type="text">
          <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
        </div>
        <div class="input_container">
          <div class="label_l">Password</div>
          <input data-parsley-id="6194" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[password]" id="user_password" type="password">
          <ul id="parsley-id-6194" class="parsley-errors-list"></ul>
        </div>
        <div>
          <input type="hidden" value="0" name="user[remember_me]">
          <input id="user_remember_me" type="checkbox" name="user[remember_me]" value="1">
          <label for="user_remember_me">Remember me</label>
        </div>
        <button class="btn btn-modal-submit has-spinner" type="submit">
          <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
          SUBMIT
        </button>

        <%= link_to 'Forgot your password', '#forgotpassword', data: {toggle: 'modal', dismiss: 'modal'} %><br/>
      </form>
    </div>
  </div>

  <div class="row" id="influencer-signin">
    <div class="col-md-12">
      <div class="social-accounts-logo">
        <a href="<%= user_omniauth_authorize_path('facebook') %>">Facebook &nbsp; &nbsp; <%= image_tag('facebook-icon.png', :alt => "fb") %></a>
      </div>
    </div>
  </div>
</div>
