<%= stylesheet_link_tag 'payments', media: 'all' %>

<% title "Brand Payment" %>

<div class="payment-div ">
  <div class="payment-button-set">
    <%= link_to 'DOWNLOAD INVOICE', '#', :class => 'btn btn-download button-border-yellow', id: 'export_payments' %>
  </div>
</div>

<div class="payment-content">
  <ul class="nav nav-tabs" id="transaction-tabs">
    <li class= "active">
      <a href="#payment">
        <%= image_tag('Transactions.png', :class => 'transaction-table') %> &nbsp; Transactions
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="panel panel-payment">
      <div id="payment" class="tab-pane fade in active">

        <table class="table table-striped table-bordered table-responsive payments_table">
          <thead>
          <tr class="payment-header">
            <th class="squaredFour" id="selecctall"><input type="checkbox" class="payment-header" value="all"/></th>
            <th>Date Billed</th>
            <th>Transaction ID</th>
            <th>Amount Billed (INR)</th>
            <th>Payment Status</th>
          </tr>
          </thead>

          <% if @transactions.present? %>

              <tbody>
              <% @transactions.each do |transaction| %>
                  <tr>
                    <td class="squaredFour"><input type="checkbox" data-id="<%= transaction.id %>" value="1"/></td>
                    <td><%= transaction.billed_date.present? ? transaction.billed_date.strftime("%B %d, %Y") : 'NA' %></td>
                    <td><%= sprintf("BP%05d" ,transaction.id) %></td>
                    <td><%= transaction.amount_billed %></td>
                    <td>
                      <% if transaction.pending? %>
                          <span class="status-circle status-pending"></span>Pending
                      <% elsif transaction.paid? %>
                          <span class="status-circle status-paid"></span>Paid
                      <% else %>
                          <span class="status-circle status-failed"></span>Failed
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
          <% end %>

        </table>
      </div>
    </div>
  </div>

</div>

</div>

</div>

<script type="text/javascript">
    $(document).ready(function(){

        $('#export_payments').click(function() {
            var payment_ids = [];
            $('.squaredFour input:checked').each(function() {
                payment_ids.push($(this).data('id'));
            });

            window.location.href  = "<%= export_brand_payments_brand_payments_path(format: :csv) %>?payment_ids=" + payment_ids;

        });

    });
</script>