<tr id="user-<%= user.id %>">
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= user.company_name %></td>
  <td><%= user.time %></td>
  <% if user.active? %>
      <a href="javascript:;" class="text-red  text-danger deactivate-user" data-id="<%= user.id %>">
        <h5>DEACTIVATE</h5>
      </a>
  <% else %>
      <a href="javascript:;" class="text-success activate-user" data-id="<%= user.id %>">
        <h5>ACTIVATE</h5>
      </a>
  <% end %>
</tr>

<script>
  $('.user-password-change')
</script>