<tr>
  <td><%= contact_us.user.first_name %></td>
  <td><%= contact_us.user.last_name %></td>
  <td><%= contact_us.user.email %></td>
  <td><%= contact_us.category %></td>
  <td><%= contact_us.message %></td>
</tr>