
<tr id="payment-<%= payment.id %>">
  <td><%= payment.user.full_name %></td>
  <td><%= payment.bank_account.present? ? payment.bank_account.bank_name : 'NA' %></td>
  <td><%= payment.bank_account.present? ? payment.bank_account.account_name : 'NA' %></td>
  <td><%= payment.bank_account.present? ? payment.bank_account.account_number : 'NA' %></td>
  <td><%= payment.user.balance %></td>
  <td><%= payment.amount_billed %></td>
  <td>
      <% if payment.pending? %>

            <%= link_to 'Payment Complete', 'javascript:;',
                        data: {id: payment.id},
                        class: 'js-make-payment-paid' %>


      <% elsif payment.paid? %>
            <p class="text-success">Paid</p>
      <% else %>
          <p class="text-danger">Fail</p>
      <% end %>
  </td>
</tr>