<tr id="user-<%= user.id %>">
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= user.company_name %></td>
  <% if user.influencer? %>
    <td><%= user.influencer_type %></td>
  <% end %>
  <td><%= local_time_convert(user.created_at) %></td>
  <% if user.brand? && !user.waiting? %>
  <td>
    <a href="<%= reset_user_password_admin_admin_path(user) %>" data-remote="true" class="text-success user-password-change" data-id="<%= user.email %>">
    <h5>Reset Password</h5>
    </a>
  </td>
  <% end %>
  <td>
    <% if user.active? %>
        <a href="javascript:;" class="text-danger deactivate-user" data-id="<%= user.id %>">
          <h5>DEACTIVATE</h5>
        </a>
    <% else %>
        <a href="javascript:;" class="text-success activate-user" data-id="<%= user.id %>">
          <h5>ACTIVATE</h5>
        </a>
    <% end %>
  </td>
  <td><%= link_to image_tag('trash-icon.png'), 'javascript:;', class: 'js-remove-user', title: 'delete', data: {id: user.id, toggle: 'pop' } %></td>
</tr>

<script>
  $('.user-password-change')

  $(document).ready(function () {
      $('[data-toggle="pop"]').popover({trigger: 'hover', placement: "bottom"});
  });
</script>