<% title 'Active Brands' %>

<div class="admin-page-wrapper">
  <h1 class="admin-header display-inline-block">Active Brands</h1>
  <%= form_tag brand_list_admin_admins_path	, :method => 'get', class: 'admin-search-form display-inline-block' do %>
      <p>
        <%= text_field_tag :email, params[:email], placeholder: 'Filter by email' %>
        <%= submit_tag 'Search', :name => nil %>
      </p>
  <% end %>
  <table class="table table-responsive admin-table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Company Name</th>
      <th>Date</th>
      <th>Reset Password</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'user', collection: @brands %>
    </tbody>
  </table>
  <%= paginate @brands %>
</div>
