<% title 'Active Influencer' %>

<div class="admin-page-wrapper">
  <h1 class="admin-header display-inline-block">Active Influencers</h1>
  <%= form_tag influencer_list_admin_admins_path	, :method => 'get', class: 'display-inline-block' do %>
      <p>
        <%= text_field_tag :email, params[:email], placeholder: 'Filter by email' %>
        <%= submit_tag 'Search', :name => nil %>
      </p>
  <% end %>
  <table class="table table-responsive admin-table active-influencer-table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'user', collection: @influencers %>
    </tbody>
  </table>
  <%= paginate @influencers %>
</div>
