<h4>Hi, <%= @sender.full_name %></h4>

<p>your email address: <strong><%= @sender.email.present? ? @sender.email : 'NA' %></strong></p>
<p>your phone: <strong><%= @sender.phone.present? ? @sender.phone : 'NA' %></strong></p>
<p>your company: <strong><%=  @sender.company_name.present? ?  @sender.company_name : 'NA' %></strong></p>
<p>your address: <strong><%= @sender.full_address.present? ? @sender.full_address : 'NA' %></strong></p>

<h4> Your campaign has been deny undo. Details are below: </h4>

<p>Campaign name: <strong><%= @campaign.name %></strong></p>
<p>Influencer email address: <strong><%= @campaign.receiver.email.present? ? @campaign.receiver.email : 'NA' %></strong></p>
<p>Influencer phone: <strong><%= @campaign.receiver.phone.present? ? @campaign.receiver.phone : 'NA' %></strong></p>
<p>Influencer address: <strong><%= @campaign.receiver.full_address.present? ? @campaign.receiver.full_address : 'NA' %></strong></p>



<h4>Hi, <%= @receiver.full_name %></h4>
<p> Your campaign <strong><%= @campaign.name %></strong> have been deny undo by <strong><%= @campaign.receiver.full_name %></strong> to your Brandreach profile</p>
