<h3>Campaign request come from: </h3>
<p><strong>Brand name : </strong><%= @sender.full_name %></p>
<p><strong>Brand email : </strong><%= @sender.email %></p>
<p><strong>Brand phone : </strong><%= @sender.phone.present? ? @sender.phone : 'NA' %></p>
<p><strong>Brand company : </strong><%= @sender.company_name.present? ? @sender.company_name : 'NA' %></p>
<p><strong>Brand address : </strong><%= @sender.full_address.present? ? @sender.full_address : 'NA' %></p>

</br>
<h3>Campaign request for : </h3>
<p><strong>Influencer name : </strong><%= @receiver.full_name %></p>
<p><strong>Influencer email : </strong><%= @receiver.email %></p>
<p><strong>Influencer phone : </strong><%= @receiver.phone.present? ? @receiver.phone : 'NA' %></p>
<p><strong>Influencer address : </strong><%= @receiver.full_address.present? ? @receiver.full_address : 'NA' %></p>

</br>
<h3>Requested page's details are :</h3>
<p><strong>Page name : </strong><%= @page.name %></p>
<p><strong>Industry : </strong><%= @page.categories.pluck(:name).join(', ') if @page.categories.present? %></p>
<p><strong>Status update : </strong><%= FacebookAccount.increase_price_for_brand(@receiver, @page.status_update_cost) %> INR</p>
<p><strong>Video post : </strong><%= FacebookAccount.increase_price_for_brand(@receiver, @page.video_post_cost) %> INR</p>
<p><strong>Photo post : </strong><%= FacebookAccount.increase_price_for_brand(@receiver, @page.photo_post_cost) %> INR</p>
<p><strong>Cover photo : </strong><%= FacebookAccount.increase_price_for_brand(@receiver, @page.cover_photo_cost) %> INR</p>
<p><strong>Profile photo : </strong><%= FacebookAccount.increase_price_for_brand(@receiver, @page.profile_photo_cost) %> INR</p>


