<h4>Hi, <%= @receiver.full_name %></h4>

<p>your email address: <strong><%= @receiver.email.present? ? @receiver.email : 'NA' %></strong></p>
<p>your phone: <strong><%= @receiver.phone.present? ? @receiver.phone : 'NA' %></strong></p>
<p>your company: <strong><%=  @receiver.company_name.present? ?  @receiver.company_name : 'NA' %></strong></p>
<p>your address: <strong><%= @receiver.full_address.present? ? @receiver.full_address : 'NA' %></strong></p>

<h4> Your campaign has been paused. Details are below: </h4>

<h5><p><%= @message %></p></h5>
<p>Campaign name: <strong><%= @campaign.name %></strong></p>
<p>Brand email address: <strong><%= @brand.email.present? ? @brand.email : 'NA' %></strong></p>
<p>Brand phone: <strong><%= @brand.phone.present? ? @brand.phone : 'NA' %></strong></p>
<p>Brand address: <strong><%= @brand.full_address.present? ? @brand.full_address : 'NA' %></strong></p>
