<h4>Hi, Admin</h4>
<P>Following sign up information had been submitted for new brand account</P>
<p><strong>Company Name:</strong> <%= @user.company_name %></p>
<p><strong>Contact Person:</strong> <%= @user.full_name %></p>
<p><strong>Position:</strong> <%= @user.phone %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Phone Number:</strong> <%= @user.phone %></p>
<p><strong>about their company:</strong> <%= @user.short_bio %></p>
</br>
<p>To Activate this user click the following link</p> <a href="<%= verify_brand_profile_profile_index_url(id: @user.id, token: @user.channel_name ) %>">click to activate </a>


