<h4>Hi, Admin</h4>
<P>Following sign up information had been submitted for new brand account</P>
<p><strong>Company Name:</strong> <%= %></p>
<p><strong>Contact Person:</strong> <%= %></p>
<p><strong>Position:</strong> <%= %></p>
<p><strong>Email:</strong> <%= %></p>
<p><strong>Phone Number:</strong> <%= %></p>
<p><strong>about their company:</strong> <%= %></p>

