<tr>
  <td><%= brand.first_name %></td>
  <td><%= brand.last_name %></td>
  <td><%= brand.email %></td>
  <td><%= brand.phone %></td>
  <td><%= brand.company_name %></td>
  <td><%= brand.time %></td>
  <td><%= link_to 'Re-invite', brand_resend_admin_invitation_path(brand), remote: true %></td>
</tr>