<% unless User.find_by_email(invitation.email) %>
<tr>
  <td><%= invitation.first_name %></td>
  <td><%= invitation.last_name %></td>
  <td><%= invitation.email %></td>
  <td><%= local_time_convert(invitation.created_at) %></td>
  <td><%= link_to 'Re-invite', influencer_resend_admin_invitation_path(invitation), remote: true %></td>
</tr>
<% end %>