<% title 'Brand Invitations' %>

<div class="admin-page-wrapper">
  <div class="">
    <a href="#brand-invitation-modal" data-toggle='modal' class="br-btn-submit">
      <span class="plus-sign"><i class="fa fa-plus"></i></span>
      New Invitation</a>
  </div>
  <br/>
  <h1 class="admin-header display-inline-block">Invitations</h1>
  <%= form_tag brand_invitation_admin_invitations_path, :method => 'get', class: 'admin-search-form display-inline-block' do %>
        <%= text_field_tag :email, params[:email], placeholder: 'Filter by email' %>
        <%= submit_tag 'Search', :name => nil %>
  <% end %>
  <table class="table table-responsive admin-table brand-invitation-table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Company</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'invited_brand', collection: @invited_brands, as: :brand %>
    </tbody>
  </table>
  <%= paginate @invited_brands %>
</div>

<%= render 'brand_invitation_form' %>

