<div class="search-result">
  <% influencers.each_slice(4) do |influncer_group| %>
      <div class="row padding-less-column-parent">
        <% influncer_group.each do |influencer| %>
            <div class="col-md-3 col-sm-6 col-sm-12">
              <div class="search-result-item">
                <div class="search-result-image">
                  <%= image_tag(influencer.profile_picture, class: 'img-responsive explore-search-image') %>
                </div>
                <div class="influencer-data">
                  <div class="influencer-name" title="<%= influencer.full_name %>"> <%= influencer.full_name %> </div>
                  <p class="influencer-address"><%= influencer.location %></p>
                  <% categories = (influencer.categories.pluck(:name).join(', ') if influencer.categories.present?) || '' %>
                  <% need_help = categories.size > 30  %>
                  <!-- show all industries on click -->
                  <div class="industry-container">
                    <p class="influencer-industry <%= need_help ? 'click-able' : '' %>">
                      <%= categories %>
                    </p>
                    <span class="title-tooltip">
                      <%= categories %>
                    </span>
                  </div>
                  <!--end -->
                  <p class="influencer-biography"><%= truncate(influencer.short_bio, length: 100) %> </p>

                  <p>
                    <%= image_tag('explore-followers.png', :alt => 'number-of-follower') %> Total
                    Likes: &nbsp;<%= influencer.max_followers %>
                  </p>

                  <p> <%= image_tag('fb-icon.png', :alt => 'number-of-pages') %>
                    Pages: &nbsp;<%= influencer.active_facebook_accounts.count %></p>
                </div>
                <%= link_to 'VIEW PROFILE', influencer_path(influencer), remote: true, :class => 'btn btn-primary btn-view-profile' %>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>

<div class="pagination-center-align">
  <%= paginate influencers %>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var view_profile;
        $('.btn-view-profile').click(function () {
            view_profile = $(this);
            $(this).attr('disabled', 'disabled');
        });

        $('#profile-modal').on('hidden.bs.modal', function () {
            view_profile.attr('disabled', false);
        });

    })
</script>
