<%= stylesheet_link_tag 'brands-explore.css', media: 'all' %>

<% title 'Brand Explore' %>

<div class="brands-explore-content-wrapper">
  <div class="brands-explore-advance-search">
    <form action="<%= explores_path %>" role="form" class="vertical" method="get">
      <div class="advanced-search">ADVANCED SEARCH</div>

      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="category"> Category </label>
              <%= select_tag :category, options_for_select(category_list), {id: 'explore-category', prompt: 'Select a Category'} %>
            </div>

            <div class="col-md-12">
              <label for="Followers"> Followers </label>
              <%= select_tag 'followers', options_for_select(followers_drop_down), {id: 'explore-followers', prompt: 'Choose a range'} %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="social-media-platform"> Social Media Platform </label>
              <select name="social_media_platform" id="explore-social-media">
                <option value="">Select a Social Media Platform</option>
                <option value="fb">Facebook</option>
              </select>
            </div>

            <div class="col-md-12">
              <label for="influencer_price"> Price </label>
              <%= select_tag 'price', options_for_select(price_drop_down), {id: 'explore-price', prompt: 'Choose a range'} %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="influencer_country"> Location </label>
              <%= country_select_tag :country, '', {:id => 'explore-country', prompt: 'Select Country'} %>
              <div id="explore-state">
                <select name="state">
                  <option value="">Select State</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- end of advance search option -->

  <hr/>
  <div id="search-result-container">
    <%= render 'explores/explores', {influencers: @influencers} %>
  </div>

  <div id="profile-modal"></div>
</div>

<script type="text/javascript">
    var build_range = function (sliderObj, displayElementIdAry, start_value, end_value) {
        noUiSlider.create(sliderObj, {
            range: {
                'min': 0,
                '10%': 50,
                '20%': 100,
                '30%': 500,
                '40%': 1000,
                '50%': 1500,
                '60%': 2000,
                '70%': 2500,
                '90%': 3000,
                'max': 5000
            },
            snap: true,
            start: [start_value, end_value]
        });

        setSliderDisplay(sliderObj, displayElementIdAry);
    };

    var setSliderDisplay = function (sliderObj, displayElementObjAry) {
        var skipValues = [
            document.getElementById(displayElementObjAry[0]),
            document.getElementById(displayElementObjAry[1])
        ];

        var inputValues = [
            document.getElementsByClassName(displayElementObjAry[0])[0],
            document.getElementsByClassName(displayElementObjAry[1])[0]
        ];

        sliderObj.noUiSlider.on('update', function (values, handle) {
            skipValues[handle].innerHTML = values[handle];
            inputValues[handle].value = values[handle];
        });
    };

    var influencerPriceLow = <%= params['influencer-price-value-lower'].presence || 50 %>;
    var influencerPriceHigh = <%= params['influencer-price-value-upper'].presence || 500 %>;

    var followerRangeLow = <%= params['followers-range-value-lower'].presence || 50 %>;
    var followerRangeHigh = <%= params['followers-range-value-upper'].presence || 500 %>;


    var followers_slider = document.getElementById('followers-range');
    var followers_slider_lbl_id = ['followers-range-value-lower', 'followers-range-value-upper'];
    build_range(followers_slider, followers_slider_lbl_id, followerRangeLow, followerRangeHigh);

    var influencer_slider = document.getElementById('influencer-price');
    var followers_slider_lbl_id = ['influencer-price-value-lower', 'influencer-price-value-upper'];
    build_range(influencer_slider, followers_slider_lbl_id, influencerPriceLow, influencerPriceHigh);
</script>
