<%= stylesheet_link_tag 'brands-explore.css', media: 'all' %>

<% title 'Brand Explore' %>

<div class="brands-explore-content-wrapper">
  <div class="brands-explore-advance-search">
    <form action="<%= explores_path %>" role="form" class="vertical" method="get">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-10">
          <p>ADVANCED SEARCH</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-2">
            <a href="javascript:;" class="btn btn-success btn-reset pull-right">Reset</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="category"> Category </label>
              <%= select_tag :category, options_for_select(Category.all.order(:name).pluck(:name)), {id: 'explore-category', prompt: 'Select a Category'} %>
            </div>

            <div class="col-md-12">
              <label for="Followers"> Followers </label>
              <%= select_tag 'followers', options_for_select(followers_drop_down), {id: 'explore-followers', prompt: 'Choose a range'} %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="social-media-platform"> Social Media Platform </label>
              <select name="social_media_platform" id="explore-social-media">
                <option value="">Select a Social Media Platform</option>
                <option value="fb">Facebook</option>
              </select>
            </div>

            <div class="col-md-12">
              <label for="influencer_price"> Price </label>
              <%= select_tag 'price', options_for_select(price_drop_down), {id: 'explore-price', prompt: 'Choose a range'} %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="influencer_country"> Location </label>
              <%= country_select_tag :country, '', {:id => 'explore-country', prompt: 'Select Country'} %>
              <div id="explore-state">
                <select name="state">
                  <option value="">Select State</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- end of advance search option -->

  <hr/>
  <div id="search-result-container">
    <%= render 'explores/explores', {influencers: @influencers} %>
  </div>

  <div id="profile-modal"></div>
</div>

