<%= stylesheet_link_tag 'brands-explore.css', media: 'all' %>


<% title 'Brand Explore' %>

<div class="brands-explore-content-wrapper">
  <div class="brands-explore-advance-search">
    <form action="<%= explores_path %>" role="form" class="vertical" method="get">
      <div class="advanced-search">ADVANCED SEARCH</div>

      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="category"> Category </label>
              <%= select_tag :category, options_for_select(category_list), prompt: "Select a Category" %>
            </div>

            <div class="col-md-12">
              <label for="category"> Followers </label>

              <div id="followers-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background"></div>
              <span id="followers-range-value-lower">50.00</span>
              <span id="followers-range-value-upper">5000.00</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="social-media-platform"> Social Media Platform </label>
              <select name="social_media_platform" id="social-media-platform">
                <option value="">Select a Social Media Platform</option>
                <option>Facebook</option>
                <option>Twitter</option>
                <option>Linkedin</option>
              </select>
            </div>

            <div class="col-md-12">
              <label for="influencer_price"> Price </label>

              <div id="influencer-price" class="noUi-target noUi-ltr noUi-horizontal noUi-background"></div>
              <span id="influencer-price-value-lower">50.00</span>
              <span id="influencer-price-value-upper">5000.00</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="influencer_country"> Country </label>
              <%= country_select_tag :country, {priority: %w(US CA IN)}, {:class => 'profile-dropdown-color'} %>
              <br/>

              <div>
                <%# render partial: 'shared/sub_region_select', locals: {parent_region: f.object.country} %>
              </div>
            </div>
            <div class="col-md-12">
              <%= button_tag 'Search Influencer', class: 'btn btn-success'%>
              <%= hidden_field_tag 'advance_search', true %>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- end of advance search option -->

  <hr/>

  <div class="search-result">
    <% @influencers.each_slice(4) do |influncer_group| %>
        <div class="row padding-less-column-parent">
          <% influncer_group.each do |influencer| %>
              <div class="col-md-3 col-sm-6 col-sm-12">
                <div class="search-result-item">
                  <%= image_tag(influencer.profile_picture, class: 'img-responsive explore-search-image') %>
                  <div class="influencer-data">
                    <div class="influencer-name"> <%= influencer.full_name.present? ? influencer.full_name : 'User' %> </div>

                    <p class="influencer-address"> <%= influencer.street_address.present? ? influencer.street_address : 'User Address' %></p>

                    <p class="title"> <%= influencer.industry.present? ? influencer.industry : 'Entrepreneur' %></p>

                    <p class="influencer-biography"><%= influencer.short_bio %> </p>

                    <div>
                      <%= image_tag('explore-followers.png', :alt => "number-of-follower") %> &nbsp;23,456
                    </div>
                  </div>
                  <%= link_to 'VIEW PROFILE', influencer_path(influencer), remote: true, :class => "btn btn-primary btn-view-profile" %>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>

  <%= paginate @influencers %>

  <div id="profile-modal"></div>
</div>

<script type="text/javascript">
    var build_range = function (sliderObj, displayElementIdAry) {
        noUiSlider.create(sliderObj, {
            range: {
                'min': 0,
                '10%': 50,
                '20%': 100,
                '30%': 500,
                '40%': 1000,
                '50%': 1500,
                '60%': 2000,
                '70%': 2500,
                '90%': 3000,
                'max': 5000
            },
            snap: true,
            start: [50, 5000]
        });

        setSliderDisplay(sliderObj, displayElementIdAry);
    };

    var setSliderDisplay = function (sliderObj, displayElementObjAry) {
        var skipValues = [
            document.getElementById(displayElementObjAry[0]),
            document.getElementById(displayElementObjAry[1])
        ];

        sliderObj.noUiSlider.on('update', function (values, handle) {
            skipValues[handle].innerHTML = values[handle];
        });
    };

    var followers_slider = document.getElementById('followers-range');
    var followers_slider_lbl_id = ['followers-range-value-lower', 'followers-range-value-upper'];
    build_range(followers_slider, followers_slider_lbl_id);

    var influencer_slider = document.getElementById('influencer-price');
    var followers_slider_lbl_id = ['influencer-price-value-lower', 'influencer-price-value-upper'];
    build_range(influencer_slider, followers_slider_lbl_id);
</script>
