<%= stylesheet_link_tag 'brands-explore.css', media: 'all' %>

<% title 'Brand Explore' %>

<div class="brands-explore-content-wrapper">
  <div class="brands-explore-advance-search">
    <form action="<%= explores_path %>" role="form" class="vertical" method="get">
      <div class="row">
        <div class="pull-left explore-adv-search">
          <p>ADVANCED SEARCH</p>
        </div>
        <div class="pull-left">
          <a href="javascript:;" class="btn-reset">Reset</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="category"> Category </label>
              <%= select_tag :category, options_for_select(Category.all.order(:name).pluck(:name)), {id: 'explore-category', prompt: 'Select a Category', class: ''} %>
            </div>

            <div class="col-md-12 social-media-select">
              <label for="social-media-platform"> Social Media Platform </label>
              <select name="social_media_platform" id="explore-social-media" class="">
                <option value="">Select a Social Media Platform</option>
                <option value="fb">Facebook</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="influencer_price"> Price </label>
              <%= select_tag 'post_type',
                             options_for_select(post_type_drop_down),
                             class: ''
              %>

              <div>
                <%= select_tag 'price',
                               options_for_select(price_drop_down),
                               {id: 'explore-price', prompt: 'Choose a range', class: ''} %>
              </div>
            </div>

            <div class="col-md-12">
              <label for="Followers"> Followers </label>
              <%= select_tag 'followers', options_for_select(followers_drop_down), {id: 'explore-followers', prompt: 'Choose a range', class: ''} %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="influencer_country"> Location </label>
              <%= country_select_tag :country, '', {:id => 'explore-country', prompt: 'Select Country'} %>
              <div id="explore-state">
                <select name="state" class="country-responsive-font">
                  <option value="">Select State</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="post_reach"> Post Reach </label>
              <%= select_tag 'post_reach', options_for_select(post_reach_drop_down), {id: 'explore-post-reach', prompt: 'Choose a range', class: ''} %>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- end of advance search option -->

  <hr/>
  <div id="search-result-container">

    <ul id="explore-tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="<%= params[:tab_name] != 'celebrity_tab' ? 'active' : '' %>" id="community-tab"><a href="#community" data-toggle="tab">Community</a></li>
      <li class="<%= params[:tab_name] == 'celebrity_tab' ? 'active' : '' %>" id="celebrity-tab"><a href="#celebrity" data-toggle="tab">Celebrity</a></li>
    </ul>

    <div id="explore-tab-content" class="tab-content">
      <div class="tab-pane <%= params[:tab_name] != 'celebrity_tab' ? 'in active' : '' %>" id="community">
        <%= render 'explores/explores', { accounts: @communities_accounts, page_name: 'community_page' } %>
      </div>

      <div class="tab-pane <%= params[:tab_name] == 'celebrity_tab' ? 'in active' : '' %>" id="celebrity">
        <%= render 'explores/explore_celebrity', { accounts: @celebrities_accounts, page_name: 'celebrity_page' } %>
      </div>
    </div>
  </div>

  <div id="profile-modal"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('select').selectBox();
        explorePageCardResize();
        $('#explore-tabs').tab();
    });

    $(window).resize(explorePageCardResize);

    // making search container horizontally center aligned

    function explorePageCardResize(){
        var containerWidth = $('#search-result-container').width();
        var searchItemWidth = $('.search-result-item').width();
        var innerContainerWidth = containerWidth - (containerWidth % 214);
        if (containerWidth < 708 && containerWidth > 405)
        {
            $('.search-result').css('width', innerContainerWidth);
        }

        else
        {
            $('.search-result').css('width', 'auto');
        }
    }

    // if there is any modal remains after one close
    // add modal-open class to document body
    $(document).on('hidden.bs.modal', '.modal', function () {
        $('.modal:visible').length && $(document.body).addClass('modal-open');
    });
</script>

