<%= stylesheet_link_tag 'payments', media: 'all' %>

<% title 'Brand Payment' %>

<div class="payment-div ">
  <div class="payment-button-set dropdown">
    <button class="dropdown-toggle btn btn-download" data-toggle="dropdown">
      DOWNLOAD INVOICE</button>
    <ul class="dropdown-menu pull-right brand-payment-dropdown" id="export_campaigns">
      <li data-format="pdf" class="report-generate"><a href="#">to PDF</a></li>
      <li data-format="xls" class="report-generate"><a href="#">to Excel</a></li>
      <li data-format="csv" class="report-generate"><a href="#">to CSV</a></li>
    </ul>
  </div>
</div>

<div class="brand-payment-content">
  <ul class="nav nav-tabs" id="transaction-tabs">
    <li class= "active">
      <a href="#payment">
        <%= image_tag('Transactions.png', :class => 'transaction-table') %> &nbsp; Transactions
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="panel panel-payment">
      <div id="payment" class="tab-pane fade in active">

        <table class="table table-striped table-bordered table-responsive payments_table">
          <thead>
          <tr class="payment-header">
            <th id="select_all_brand_payment">
                <span class="custom-checkbox">
                                <input type="checkbox" value="all" class="payment-header" />
                                    <span class="box"><span class="tick"></span></span>
                </span>
            </th>
            <th>Campaign Name</th>
            <th>Date Billed</th>
            <th>Transaction ID</th>
            <th>Amount Billed (INR)</th>
            <th>Payment Status</th>
          </tr>
          </thead>

          <% if @transactions.present? %>

              <tbody>
              <% @transactions.each do |transaction| %>
                  <tr>
                    <td>
                      <span class="custom-checkbox">
                        <input type="checkbox" value="1" class="BrandPaymentCheckBox" data-id="<%= transaction.id %>" />
                            <span class="box"><span class="tick"></span></span>
                      </span>
                    </td>
                    <td><%= transaction.campaign.name %></td>
                    <td><%= transaction.billed_date.present? ? transaction.billed_date.strftime('%B %d, %Y') : 'NA' %></td>
                    <td><%= sprintf('BP%05d', transaction.id) %></td>
                    <td><%= transaction.amount_billed %></td>
                    <td>
                      <% if transaction.pending? %>
                          <span class="status-circle status-pending"></span>Pending
                      <% elsif transaction.paid? %>
                          <span class="status-circle status-paid"></span>Paid
                      <% else %>
                          <span class="status-circle status-failed"></span>Failed
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
          <% end %>

        </table>
      </div>
    </div>
  </div>

</div>

</div>

</div>

<script type="text/javascript">
    $(document).ready(function(){

        $("#select_all_brand_payment").change(function () {
            $(".BrandPaymentCheckBox").prop('checked', $("#select_all_brand_payment input:checked").length);
        });

        $('.report-generate').click(function() {
            if($('.custom-checkbox input:checked').length)
            {
                var payment_ids = [];
                $('.custom-checkbox input:checked').each(function() {
                    payment_ids.push($(this).data('id'));
                });
                var format = $(this).data('format');

                switch (format) {
                    case 'pdf':
                        window.open("<%= export_payments_path(format: :pdf) %>?payment_ids=" + payment_ids, '_blank')
                        break;
                    case 'xls':
                        window.location.href = "<%= export_payments_path(format: :xls) %>?payment_ids=" + payment_ids;
                        break;
                    case 'csv':
                        window.location.href = "<%= export_payments_path(format: :csv) %>?payment_ids=" + payment_ids;
                        break;
                }
            }
            else {
                bootbox.alert({
                    message: ' Please select at least one transaction.',
                    closeButton: false
                });
            }

        });

    });
</script>