
<div class="offer-header">
  <div class="read-status read-status-<%= offer.id %> <%= offer.messages.where(receiver_id: current_user.id, read: false).count > 0 ? '': 'invisible'%>">
    <span class="status-inbox"></span>
  </div>

  <div class="select-offer">
    <input type="checkbox"  value="1" class="select-offer" data-id="<%=offer.id %>"/>
  </div>

  <div class="make-star">
    <%= link_to toggle_star_offers_path(ids: [offer.id], authenticity_token: form_authenticity_token), method: :put, remote: true do %>
        <i class="fa fa-star <%= offer.starred_by_brand ? 'star-yellow' : 'star-grey' %>"></i>
    <% end %>
  </div>
  <div >
    <%= image_tag offer.sender.profile_picture, class: 'inbox-logo-responsive' %>
    <span class="title"><%= offer.sender.full_name %> </span>
  </div>

  <div class="offer-text">
    <p><%= offer.name %></p>
  </div>

  <div class="action">

  </div>

  <div class="offer-time">
    <%= offer.time %>
  </div>
</div>