
<div class="offer-header">
  <div class="read-status read-status-<%= offer.id %> <%= offer.messages.where(receiver_id: current_user.id, read: false).count > 0 ? '': 'invisible'%>">
    <span class="status-inbox"></span>
  </div>

  <div class="select-offer">
    <input type="checkbox"  value="1" class="select-offer" data-id="<%=offer.id %>"/>
  </div>

  <div class="make-star">
    <%= link_to toggle_star_offers_path(ids: [offer.id], authenticity_token: form_authenticity_token), method: :put, remote: true do %>
        <i class="fa fa-star <%= offer.starred_by_brand ? 'star-yellow' : 'star-grey' %>"></i>
    <% end %>
  </div>
  <div >
    <%= image_tag offer.receiver.profile_picture, class: 'inbox-logo-responsive' %>
    <span class="title"><%= offer.receiver.full_name %> </span>
  </div>

  <div class="offer-text">
    <p><%= offer.name %></p>
  </div>

  <div class="action">
    <% if offer.accepted? %>
        <% unless offer.card_number? %>
            <%= link_to 'Engage', new_brand_payment_campaigns_path(offer.id), class: 'btn btn-accept', method: :post %>
        <% else %>
            <span class="text-success">Running Campaign</span>
        <% end %>
  <% else  %>
       Pending request
  <% end %>

  </div>

  <div class="offer-time">
    <%= offer.time %>
  </div>
</div>