
<div class="offer-header">
  <div class="read-status read-status-<%= offer.id %> <%= offer.messages.where(receiver_id: current_user.id, read: false).count > 0 ? '': 'invisible'%>">
    <span class="status-inbox"></span>
  </div>

  <div class="select-offer">
    <input type="checkbox"  value="1" class="select-offer" data-id="<%=offer.id %>"/>
  </div>

  <div class="make-star">
    <%= link_to toggle_star_offers_path(ids: [offer.id], authenticity_token: form_authenticity_token), method: :put, remote: true do %>
        <i class="fa fa-star <%= offer.starred_by_influencer ? 'star-yellow' : 'star-grey' %>"></i>
    <% end %>
  </div>

  <div >
    <%= image_tag offer.sender.profile_picture, class: 'inbox-logo-responsive' %>
    <span class="title"><%= offer.sender.full_name %> </span>
  </div>

  <div class="offer-text">
    <p><%= offer.name %></p>
  </div>

  <div class="action">
    <% if  offer.waiting? %>
        <%= link_to 'Accept', accept_offer_path(offer, authenticity_token: form_authenticity_token), class: 'btn btn-accept', method: :put, remote: true %>
        &nbsp;
        <%= link_to 'Deny', deny_offer_path(offer, authenticity_token: form_authenticity_token), class: 'deny', method: :put, remote: true %>
        <%= link_to 'Undo Deny', undo_deny_offer_path(offer, authenticity_token: form_authenticity_token), class: 'undo-deny hidden', method: :put, remote: true %>
  <% elsif offer.denied? && offer.deny_undo_able? %>
        <%= link_to 'Accept', accept_offer_path(offer, authenticity_token: form_authenticity_token), class: 'btn btn-accept hidden', method: :put, remote: true %>
        <%= link_to 'Deny', deny_offer_path(offer, authenticity_token: form_authenticity_token), class: 'deny hidden', method: :put, remote: true %>
        <%= link_to 'Undo Deny', undo_deny_offer_path(offer, authenticity_token: form_authenticity_token), class: 'undo-deny', method: :put, remote: true %>
  <% else %>
    <span class="text-success">Accepted Campaign</span>
  <% end %>
  </div>

  <div class="offer-time">
    <%= offer.time %>
  </div>
</div>