<div class="offer-body offer-body-<%= offer.id %> collapse">
  <div class="comment-box comment-box-<%= offer.id %>">
    <%= form_for Image.new, html: {class: 'image-upload-form add_image', id: ''} do |f| %>
    <textarea name="message-body" class="offer-textarea message-body " id="offer-textarea-<%= offer.id %>" rows="3"
              placeholder="Start typing your message here" maxlength="150"></textarea>
        <%= hidden_field_tag :attach_image_ids, '', id: "attach_image_ids-#{offer.id}" %>

        <% if offer.messageable? %>
            <span class="glyphicon glyphicon-camera btn-image-add addImage" title="Add Image" data-id="<%= offer.id %>"></span>
            <button data-offer-id='<%= offer.id %>' data-receiver-id='<%= offer_receiver_id(offer) %>' class="message-reply-button btn btn-accept" type="button">Reply</button>
        <% else %>
            <button data-offer-id='<%= offer.id %>' data-receiver-id='<%= offer_receiver_id(offer) %>' class="message-reply-button btn btn-accept" type="button" disabled>Reply</button>
        <% end %>

        <!-- this is your file input tag, so i hide it!-->
        <div style='height: 0px;width: 0px; overflow:hidden;'>
          <%= f.file_field :image_path, multiple: true, name: 'image[image_path]', id: "upload-message-image-#{offer.id}" %>
        </div>
        <%= hidden_field_tag :offer_id, offer.id %>
        <%= hidden_field_tag :receiver_id, offer_receiver_id(offer) %>
    <% end %>
  </div>

  <div class="message-container-<%= offer.id %>">
    <div id="image-proview-container-<%= offer.id %>">
    </div>
    <% offer.messages.each do |message| %>
        <div id="message-<%= message.id %>" class="message message-<%= message.id %>">
          <a href="<%= show_user_profile_path(message.sender.id) %>" data-remote="true" >
          <%= image_tag message.sender.profile_picture, class: 'inbox-logo-responsive'%>
            </a>
          <div class="message-body"><%= simple_format(message.body) %> </div>

          <div class="image-body">
            <% message.images.each do |image| %>
                <a target="_blank" href="<%= image.image_path.url %>">
                  <%= image_tag image.image_path.url, class: 'message-image',  title: 'Click here to view actual image' %>
                </a>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
