<div class="offer-box  offer-box-<%= offer.id %> collapse-group" data-id="<%= offer.id %>">
  <% if current_user.influencer? %>
      <%= render partial: 'offers/influencer_offer_view', locals: { offer: offer} %>
  <% else %>
      <%= render partial: 'offers/brand_offer_veiw', locals: { offer: offer} %>
  <% end %>
  <%= render partial: 'offers/offer_body_view', locals: { offer: offer} %>
</div>