<%= stylesheet_link_tag 'offers.css', media: 'all' %>

<% if current_user.brand? %>
    <% title 'Messages' %> <% else %>
    <% title 'Offers' %>
<% end %>

<div class="header-bottom-margin"></div>

<div class="offer-content">
  <div class="text-danger engage-campaign-delete-info text-center"></div>
  <ul class="nav nav-tabs" id="campaign-tabs">
    <li class="pull-right">
      <div class="star-del-ref-panel">
        <%= image_tag asset_path('star-icon.png'), class: "make-all-stared #{@offers.size > 0 ? '': 'disable'}" %>
        <%= image_tag asset_path('trash-icon.png'), class: "delete-selected-offer #{@offers.size > 0 ? '': 'disable'}" %>
      </div>
    </li>
    <li class="active" id="inbox_list">
      <%= link_to offers_path, remote: true do %>
                        <span id="inbox-blue"><img src="<%= asset_path('Inbox-blue.png') %>">
                        </span><span id="inbox-black"><img src="<%= asset_path('Inbox.png') %>"></span>
          <span class="inbox-tab">Inbox</span>
      <% end %>
    </li>
    <li class="" id="starred_list">
      <%= link_to offers_path(starred: 1), remote: true, data: {target: ''} do %>
          <span id="star-black"><img src="<%= asset_path('Starred.png') %>"></span>
          <span id="star-blue"><img src="<%= asset_path('Starred-blue.png') %>"></span>
          <span class="starred-tab">Starred</span>
      <% end %>
    </li>

  </ul>

  <!-- print tab elements -->
  <div class="tab-content panel panel-offers">
    <div id="inbox" class="tab-pane fade in active">
      <%= render partial: 'offer', collection: @offers, locals: {star_page: nil} %>
    </div>

    <div id="stared_inbox" class="tab-pane fade">
    </div>
  </div>

</div>

<script>
    $(function () {
        <% if params[:offer_id] %>
        var $offerBody = $('.offer-body-<%= params[:offer_id] %>');
        $offerBody.addClass('in');
        var searchKey = '<%= params[:search_key] %>';
        var replaceWord = '<span class=text-danger>' + searchKey + '</span>';
        var regex = new RegExp(searchKey, 'gi');

        $offerBody.find('.message').each(function () {

            $(this).children('.message-body').html($(this).children('.message-body').html().replace(regex, replaceWord));
        });
        <% end %>
        <!--need to change proper style sheet -->
        $('#star-blue').hide();
        $('#inbox-black').hide();
    });

    $('.offer-box').each(function(){
        bindFileUpload($(this));
    });

</script>

<!--image attachment -->


