<%= stylesheet_link_tag 'offers.css', media: 'all' %>

<p id="notice"><%= notice %></p>

<div class="header-bottom-margin"></div>
<div class="payment-div ">
  <div class="payment-button-set pull-right">
    <div class="star-del-ref-panel">
      <%= image_tag  asset_path('star-icon.png'), class: 'make-all-stared'%>
      <a href="#"><img src="<%= asset_path('trash-icon.png') %>"></a>
      <a href="#"><img src="<%= asset_path('Refresh_icon.png') %>"></a>

    </div>
  </div>
</div>
<div class="campaign-content">

  <ul class="nav nav-tabs" id="campaign-tabs">
    <li class= "active" id="inbox_list">
      <%= link_to offers_path, remote: true do %>
                        <span id="inbox-blue"><img src="<%= asset_path('Inbox-blue.png') %>">
                        </span><span id="inbox-black" style="display: none"><img src="<%= asset_path('Inbox.png') %>"></span>
        <span class="inbox-tab">Inbox</span>
      <% end %>
    </li>
    <li class= "" id="starred_list">
      <%= link_to offers_path(starred: true), remote: true, data: { target: ''} do %>
        <span id="star-black"><img src="<%= asset_path('Starred.png') %>"></span>
        <span id="star-blue" style="display: none"><img src="<%= asset_path('Starred-blue.png') %>"></span>
        <span class="starred-tab">Starred</span>
      <% end %>
    </li>
  </ul>

  <!-- print tab elements -->
  <div class="tab-content panel panel-offers">
    <div id="inbox" class="tab-pane fade in active">
      <%= render partial: 'offer', collection: @offers %>
    </div>


    <div id="stared_inbox" class="tab-pane fade">
      <%#= render partial: 'offer', collection: @stared_offers %>
    </div>
  </div>

</div>
</div>

<!-- /.content -->
</div><!-- /.content-wrapper -->
