<%= stylesheet_link_tag 'campaigns.css', media: 'all' %>
<%= stylesheet_link_tag 'jquery-jvectormap-1.2.2', media: 'all' %>

<% title 'Brand Campaign' %>

<section class="influence-facebook-content">
  <div class="campaign-view">
    <%= form_tag(nil, method: 'get') do %>
        <%= label_tag :name, 'Choose a Campaign' %>
        <% if params[:id].present? %>
        <%= select_tag 'id', options_from_collection_for_select(@all_campaigns, 'id', 'name', @campaigns.first.id), prompt: 'Select all campaign', id: 'campaign_id' %>
        <% else %>
            <%= select_tag 'id', options_from_collection_for_select(@all_campaigns, 'id', 'name'), prompt: 'Select all campaign', id: 'campaign_id' %>
        <% end %>
        <%= button_tag 'VIEW', class: 'btn-brand-campaign-view' %>
    <% end %>
  </div>
  <div class="br-container">
    <!-- Info boxes -->

    <div class="row download-campaign dropdown">
      <%#= link_to 'EXPORT', '#', :class => 'btn btn-export button-border-yellow', id: 'export_campaigns' %>
      <button class="dropdown-toggle btn btn-download-campaign" data-toggle="dropdown">
        DOWNLOAD THIS CAMPAIGN'S REPORT
      </button>
      <ul class="dropdown-menu" id="export_campaigns">
        <li data-format="pdf" class="report-generate"><a href="#">to PDF</a></li>
        <li data-format="xls" class="report-generate"><a href="#">to Excel</a></li>
        <li data-format="csv" class="report-generate"><a href="#">to CSV</a></li>
      </ul>
    </div>

    <div class="row info-box-container">
      <div class="info-box-custom col-md-3 col-sm-6 col-xs-6">
        <div class="info-box-content">
          <p class="info-box-data total-follower-data-color"><%= number_with_delimiter(@campaigns.pluck(:number_of_likes).sum) %></p>

          <p class="info-box-text ">LIKES</p>
        </div>
      </div>

      <div class="info-box-custom col-md-3 col-sm-6 col-xs-6">
        <div class="info-box-content">
          <p class="info-box-data page-view-data-color"><%= number_with_delimiter(@campaigns.pluck(:number_of_post_reach).sum) %></p>

          <p class="info-box-text">POST REACH</p>
        </div>
      </div>

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>
      <div class="clearfix visible-xs-block"></div>

      <div class="info-box-custom col-md-3 col-sm-6 col-xs-6">
        <div class="info-box-content">
          <p class="info-box-data total-post-data-color"><%= number_with_delimiter(@campaigns.pluck(:number_of_comments).sum) %></p>

          <p class="info-box-text">COMMENTS</p>
        </div>
      </div>

      <div class="info-box-custom col-md-3 col-sm-6 col-xs-6">
        <div class="info-box-content">
          <p class="info-box-data post-reach-data-color"><%= number_with_delimiter(@campaigns.pluck(:number_of_shares).sum) %></p>

          <p class="info-box-text">SHARES</p>
        </div>
      </div>
    </div>

    <div class="campaign-content brand-campaign-content">

      <ul class="nav nav-tabs campaign-nav-tabs" id="campaign-tabs">
        <li class="active" id="performance_list">
          <a href="#performance"><span id="performance-blue"><%= image_tag('Performance_blue.png') %></span><span id="performance-black" class="display-none"><%= image_tag('Performance.png') %></span>
            <span class="performance-tab"></span> Performance </a></li>
      </ul>

      <div class="tab-content panel panel-campaigns">
        <div id="performance" class="tab-pane fade in active">
          <table class="table table-striped table-bordered table-responsive brand_campaign_performance_table">

            <thead>
            <tr class="payment-header">
              <th id="select_all_performance">
                <span class="custom-checkbox">
                    <input type="checkbox" class="payment-header" value="all"/>
                     <span class="box"><span class="tick"></span></span>
                </span>
              </th>
              <th>Campaign Name</th>
              <th>Post Likes</th>
              <th>Reach</th>
              <th>Comments</th>
              <th>Shares</th>
            </tr>
            </thead>

            <tbody>
            <% @campaigns.each do |campaign| %>
            <tr>
              <td>
                  <span class="custom-checkbox">
                   <input type="checkbox" class="PerformanceCheckBox" data-id="<%= campaign.id %>" value="1"/>
                  <span class="box"><span class="tick"></span></span>
                  </span>
              </td>
              <td>
                <a href="<%= show_user_profile_path(campaign.receiver.id) %>" data-remote="true">
                  <%= image_tag(campaign.receiver.profile_picture, :class => 'pepsi-img-responsive') %>
                </a>
                &nbsp; <%= campaign.name %>
              </td>
              <td><%= campaign.number_of_likes %></td>
              <td><%= campaign.number_of_post_reach %></td>
              <td><%= campaign.number_of_comments %></td>
              <td><%= campaign.number_of_shares %></td>
            </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {

        $("#campaign-tabs a").click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $(document).on('click', '#engagement_list', function () {
            document.getElementById("performance-blue").style.display = 'none';
            document.getElementById("performance-black").style.display = 'inline';
            document.getElementById("engagement-black").style.display = 'none';
            document.getElementById("engagement-blue").style.display = 'inline';
        });

        $(document).on('click', '#performance_list', function () {
            document.getElementById("performance-black").style.display = 'none';
            document.getElementById("performance-blue").style.display = 'inline';
            document.getElementById("engagement-blue").style.display = 'none';
            document.getElementById("engagement-black").style.display = 'inline';
        });

        $("#select_all_performance").change(function () {
            $(".PerformanceCheckBox").prop('checked', $("#select_all_performance input:checked").length);
        });

        $(".report-generate").click(function () {
            var format = $(this).data('format');

            if($('.custom-checkbox input:checked').length)
            {
                var campaign_ids = [];
                $('.custom-checkbox input:checked').each(function() {
                    campaign_ids.push($(this).data('id'));
                });

                switch (format){
                    case 'pdf':
                        window.open("<%= export_campaigns_path(format: :pdf) %>?campaign_ids=" + campaign_ids, '_blank')
                        break;
                    case 'xls':
                        window.location.href = "<%= export_campaigns_path(format: :xls) %>?campaign_ids=" + campaign_ids;
                        break;
                    case 'csv':
                        window.location.href = "<%= export_campaigns_path(format: :csv) %>?campaign_ids=" + campaign_ids;
                        break;
                }
            }
            else
            {
                bootbox.alert({message: 'Please select at least one Campaign.',
                    closeButton: false});
            }

        });

    });
</script>

