<%= stylesheet_link_tag 'campaigns.css', media: 'all' %>

<% title "Influencer Campaign" %>

<div class="payment-div ">
  <div class="payment-button-set pull-right">
    <%= link_to 'EXPORT', '', remote: true, :class => 'btn btn-export', id: 'export_campaigns' %>

    <div class="dropdown" id="age_button">
      <button class="btn btn-age dropdown-toggle" type="button" data-toggle="dropdown">Age
        <i class="fa fa-angle-down angle-down-age "></i>
      </button>
      <ul class="dropdown-menu dropdown-color">
        <li><a href="#">18-24</a></li>
        <li><a href="#">25-34</a></li>
        <li><a href="#">35-44</a></li>
      </ul>
    </div>
    <div class="dropdown" id="country_button" style="display: none;">
      <button class="btn btn-country dropdown-toggle" type="button" data-toggle="dropdown">Country
        <i class="fa fa-angle-down angle-down-country "></i>
      </button>
      <ul class="dropdown-menu dropdown-color">
        <li><a href="#">India</a></li>
        <li><a href="#">HongKong</a></li>
        <li><a href="#">United Kingdom</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="campaign-content">

  <ul class="nav nav-tabs" id="campaign-tabs">
    <li class= "active" id="performance_list"><a href="#performance"><span id="performance-blue"><%= image_tag('Performance_blue.png') %></span><span id="performance-black" style="display: none"><%= image_tag('Performance.png') %></span> <span class="performance-tab"></span> Performance </a></li>
    <li class= "" id="engagement_list"><a href="#engagement"><span id="engagement-black"><%= image_tag('Engagement_black.png') %></span><span id="engagement-blue" style="display: none"><%= image_tag('Engagement.png') %></span><span class="engagement-tab"></span> Engagement </a></li>
  </ul>
  <div class="tab-content panel panel-campaigns">
    <div id="performance" class="tab-pane fade in active">
      <table class="table table-striped table-bordered table-responsive performance_table">
        <thead>
        <tr class="payment-header">
          <th class="squaredFour" id="select_all_performance"><input type="checkbox" class="payment-header" value="all"/></th>
          <th></th>
          <th>Campaign Name</th>
          <th>Post Likes</th>
          <th>Reach</th>
          <th>Ends</th>
        </tr>
        </thead>

        <% if @campaigns.present? %>
            <tbody>
            <% @campaigns.each do |campaign| %>
                <tr>
                  <td class="squaredFour"><input type="checkbox" data-id="<%= campaign.id %>" value="1"/></td>
                  <td>
                    <div class="switch">
                      <input id="performance_switch_<%= campaign.id %>" data-id="<%= campaign.id %>" class="cmn-toggle cmn-toggle-round" type="checkbox" <%= campaign.campaign_active? ? 'checked' : '' %> >
                      <label for="performance_switch_<%= campaign.id %>"></label>
                    </div>
                  </td>
                  <td><%= image_tag(campaign.sender.profile_picture , :class => 'pepsi-img-responsive') %> &nbsp; <%= campaign.name %></td>
                  <td><%= campaign.number_of_likes %></td>
                  <td><%= campaign.number_of_post_reach %></td>
                  <td><%= campaign.end_date.present? ? campaign.end_date.strftime("%B %d, %Y") : 'NA' %></td>
                </tr>
            <% end %>
            </tbody>
        <% end %>

      </table>
    </div>


    <div id="engagement" class="tab-pane fade">
      <table class="table table-striped table-bordered table-responsive engagement_table">
        <thead>
        <tr class="payment-header">
          <th class="squaredFour" id="selecct_all_engagement"><input type="checkbox" class="payment-header" value="all"/></th>
          <th></th>
          <th>Campaign Name</th>
          <th>Likes</th>
          <th>Comments</th>
          <th>Shares</th>
        </tr>
        </thead>
        <tbody>
        <% if @campaigns.present? %>
            <tbody>
            <% @campaigns.each do |campaign| %>
                <tr>
                  <td class="squaredFour"><input type="checkbox" data-id="<%= campaign.id %>" value="1"/></td>
                  <td>
                    <div class="switch">
                      <input id="engagement_switch_<%= campaign.id %>" data-id="<%= campaign.id %>"  class="cmn-toggle cmn-toggle-round" type="checkbox" <%= campaign.campaign_active? ? 'checked' : '' %>>
                      <label for="engagement_switch_<%= campaign.id %>"></label>
                    </div>
                  </td>
                  <td><%= image_tag(campaign.sender.profile_picture , :class => 'pepsi-img-responsive') %> &nbsp; <%= campaign.name %></td>
                  <td><%= campaign.number_of_likes %></td>
                  <td><%= campaign.number_of_comments %></td>
                  <td><%= campaign.number_of_shares %></td>
                </tr>
            <% end %>
            </tbody>
        <% end %>

        </tbody>
      </table>
    </div>
  </div>

</div>


<script type="text/javascript">
    $(document).ready(function(){

        $("#campaign-tabs a").click(function(e){
            e.preventDefault();
            $(this).tab('show');
        });

        $(document).on('click','#engagement_list',function(){
            document.getElementById("age_button").style.display = 'none';
            document.getElementById("country_button").style.display = 'block';
            document.getElementById("performance-blue").style.display = 'none';
            document.getElementById("performance-black").style.display = 'inline';
            document.getElementById("engagement-black").style.display = 'none';
            document.getElementById("engagement-blue").style.display = 'inline';
        });

        $(document).on('click','#performance_list',function(){
            document.getElementById("country_button").style.display = 'none';
            document.getElementById("age_button").style.display = 'block';
            document.getElementById("performance-black").style.display = 'none';
            document.getElementById("performance-blue").style.display = 'inline';
            document.getElementById("engagement-blue").style.display = 'none';
            document.getElementById("engagement-black").style.display = 'inline';
        });

        $('.cmn-toggle').click(function() {
            var id = $(this).data('id');
            var campaign_active_status = this.checked;

            $.ajax({
                url: "<%= campaign_status_change_campaigns_path %>",
                type: 'post',
                dataType: 'script',
                data: {
                    id: id,
                    campaign_active: campaign_active_status
                }
            });

        });

        $('#export_campaigns').click(function() {
            var campaign_ids = [];
            $('.squaredFour input:checked').each(function() {
                campaign_ids.push($(this).data('id'));
            });

            $.ajax({
                url: "<%= export_campaigns_campaigns_path %>",
                type: 'post',
                dataType: 'script',
                data: {
                    campaign_ids: campaign_ids
                }
            });


        });
    });


</script>