<%= stylesheet_link_tag 'campaigns.css', media: 'all' %>

<% title 'Influencer Campaign' %>

<div class="payment-div ">
  <div class="payment-button-set pull-right">
    <%= link_to 'EXPORT', '#', :class => 'btn btn-export button-border-yellow', id: 'export_campaigns' %>

    <div class="dropdown" id="age_button">
      <button class="btn btn-age dropdown-toggle" type="button" data-toggle="dropdown">Age
        <i class="fa fa-angle-down angle-down-age "></i>
      </button>
      <ul class="dropdown-menu dropdown-color">
        <li><a href="#">18-24</a></li>
        <li><a href="#">25-34</a></li>
        <li><a href="#">35-44</a></li>
      </ul>
    </div>
    <div class="dropdown display-none" id="country_button">
      <button class="btn btn-country dropdown-toggle" type="button" data-toggle="dropdown">Country
        <i class="fa fa-angle-down angle-down-country "></i>
      </button>
      <ul class="dropdown-menu dropdown-color">
        <li><a href="#">India</a></li>
        <li><a href="#">HongKong</a></li>
        <li><a href="#">United Kingdom</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="campaign-content">

  <ul class="nav nav-tabs campaign-nav-tabs" id="campaign-tabs">
    <li class="active" id="performance_list"><a href="#performance"><span id="performance-blue"><%= image_tag('Performance_blue.png') %></span><span id="performance-black" class="display-none"><%= image_tag('Performance.png') %></span><span class="performance-tab"></span> Performance </a></li>
    <li id="engagement_list"><a href="#engagement"><span id="engagement-black"><%= image_tag('Engagement_black.png') %></span><span id="engagement-blue" class="display-none"><%= image_tag('Engagement.png') %></span><span class="engagement-tab"></span> Engagement </a></li>
  </ul>
  <div class="tab-content panel panel-campaigns">
    <div id="performance" class="tab-pane fade in active">
      <%= render partial: 'add_social_activity_modal' %>
      <table class="table table-striped table-bordered table-responsive performance_table">
        <thead>
        <tr class="payment-header">
          <th class="squaredFour" id="select_all_performance"><input type="checkbox" class="payment-header" value="all"/></th>
          <th>Campaign Name</th>
          <th>Post Likes</th>
          <th>Reach</th>
          <th>Starts</th>
          <th>Ends</th>
        </tr>
        </thead>

        <% if @campaigns.present? %>
            <tbody>
            <% @campaigns.each do |campaign| %>
                <tr>
                  <td class="squaredFour"><input type="checkbox" class="PerformanceCheckBox" data-id="<%= campaign.id %>" value="1"/></td>
                  <td>
                    <%= image_tag(campaign.sender.profile_picture, :class => 'pepsi-img-responsive') %> &nbsp; <%= campaign.name %>
                    <% if campaign.social_account_activity_id.blank? %>
                        <br/>
                        <%= link_to 'Set facebook activity', 'javascript:', :class => 'btn', data: { campaign: campaign.id, page: campaign.facebook_account.account_id, target: 'SetFacebookActivity' } %>
                    <% end %>
                  </td>
                  <td><%= campaign.number_of_likes %></td>
                  <td><%= campaign.number_of_post_reach %></td>
                  <td><%= campaign.start_date.present? ? campaign.start_date.strftime('%B %d, %Y') : 'NA' %></td>
                  <td><%= campaign.end_date.present? ? campaign.end_date.strftime('%B %d, %Y') : 'NA' %></td>
                </tr>
            <% end %>
            </tbody>
        <% end %>

      </table>
    </div>


    <div id="engagement" class="tab-pane fade">
      <table class="table table-striped table-bordered table-responsive engagement_table">
        <thead>
        <tr class="payment-header">
          <th class="squaredFour" id="select_all_engagement"><input type="checkbox" class="payment-header" value="all"/></th>
          <th>Campaign Name</th>
          <th>Likes</th>
          <th>Comments</th>
          <th>Shares</th>
        </tr>
        </thead>
        <tbody>
        <% if @campaigns.present? %>
            <tbody>
            <% @campaigns.each do |campaign| %>
                <tr>
                  <td class="squaredFour"><input type="checkbox" class="EngagementCheckBox" data-id="<%= campaign.id %>" value="1"/></td>
                  <td><%= image_tag(campaign.sender.profile_picture, :class => 'pepsi-img-responsive') %> &nbsp; <%= campaign.name %></td>
                  <td><%= campaign.number_of_likes %></td>
                  <td><%= campaign.number_of_comments %></td>
                  <td><%= campaign.number_of_shares %></td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>

<script type="text/javascript">
    $(document).ready(function(){

        $("#campaign-tabs a").click(function(e){
            e.preventDefault();
            $(this).tab('show');
        });

        $(document).on('click','#engagement_list',function(){
            document.getElementById("age_button").style.display = 'none';
            document.getElementById("country_button").style.display = 'block';
            document.getElementById("performance-blue").style.display = 'none';
            document.getElementById("performance-black").style.display = 'inline';
            document.getElementById("engagement-black").style.display = 'none';
            document.getElementById("engagement-blue").style.display = 'inline';
        });

        $(document).on('click','#performance_list',function(){
            document.getElementById("country_button").style.display = 'none';
            document.getElementById("age_button").style.display = 'block';
            document.getElementById("performance-black").style.display = 'none';
            document.getElementById("performance-blue").style.display = 'inline';
            document.getElementById("engagement-blue").style.display = 'none';
            document.getElementById("engagement-black").style.display = 'inline';
        });

        // This code is needed for Switch button

//        $('.cmn-toggle').click(function() {
//            var id = $(this).data('id');
//            var campaign_active_status = this.checked;
//
//            $.ajax({
//                url: "<%#= campaign_status_change_campaigns_path %>",
//                type: 'post',
//                dataType: 'script',
//                data: {
//                    id: id,
//                    campaign_active: campaign_active_status
//                }
//            });
//
//        });

        $("#select_all_performance").change(function () {
            $(".PerformanceCheckBox").prop('checked', $("#select_all_performance input:checked").length);
        });

        $("#select_all_engagement").change(function () {
            $(".EngagementCheckBox").prop('checked', $("#select_all_engagement input:checked").length);
        });

        $('#export_campaigns').click(function() {

            if($('.squaredFour input:checked').length)
            {
                var campaign_ids = [];
                $('.squaredFour input:checked').each(function() {
                    campaign_ids.push($(this).data('id'));
                });

                window.location.href = "<%= export_campaigns_path(format: :csv) %>?campaign_ids=" + campaign_ids;
            }
            else
            {
                swal("Please Mark at least one Campaign")
            }

        });
    });


</script>
