<%= stylesheet_link_tag  'campaigns', media: 'all' %>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<% title 'Brand Campaign' %>

<div class="campaign-create-wrapper">

  <div>
    <%= image_tag(@influencer.profile_picture, :class => 'campaign-influencer-picture', :alt => 'profile-picture') %>
    <div class="influencer-description">
      <h4><%= @influencer.full_name.present? ? @influencer.full_name : 'USER' %></h4>
      <p class="influencer-title"><%= @influencer.categories.pluck(:name).join(', ') if @influencer.categories.present? %> </p>
      <p class="influencer-address"> <%= @influencer.street_address.present? ? @influencer.street_address : 'User Address'  %> </p>
    </div>
  </div>

  <div>
    <p class="influencer-profile-info">
      <%= @influencer.short_bio %>
    </p>
  </div>

  <%= form_for @campaign, url: campaigns_path, html: { class: 'form-horizontal'}, data: { parsley_validate: '' } do |f| %>

      <%= render 'shared/show_errors', :object => @campaign %>

      <%= csrf_meta_tag %>

      <div class="col-md-12 campaign-form-input">
        <div class="social-account-tabs">
          <ul class="nav nav-tabs social-account-nav-tabs"></ul>

          <div class="tab-content social-account-tab-content">
            <div id="fb_bhanu" class="tab-pane fade in active">

              <div id="costs" data-costs="<%= @costs %>"></div>

              <div class="form-group">
                <%= f.label :facebook_account_id, 'Choose Social Account Name', class: 'control-label' %>
                <div class="display-inline">
                  <%= f.select :facebook_account_id, options_for_select(@influencer.active_facebook_accounts.map{ |account| [account.name, account.id] }, @campaign.facebook_account_id), {}, { :class => 'form-control type-of-post', :id => 'social_account' } %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :post_type, 'Choose the type of post', class: 'control-label' %>
                <div class="display-inline">
                  <%= f.select :post_type, options_for_select(Campaign.post_types.map{ |type, value| [type.titleize, value] }, Campaign.post_types[@campaign.post_type]), {}, { :class => 'form-control type-of-post', :id => 'post_type' } %>
                </div>
              </div>

              <!--status update filed-->
              <div class="form-group" id="post-type-0">
                <%= f.label :campaign_content, 'Status Message', class: 'control-label' %>
                <div class="display-inline">
                  <%= f.text_field :campaign_content, class: 'form-control input-with-img', name: 'status_message' %>
                </div>
              </div>

              <!--profile photo filed-->
              <div class="form-group" id="post-type-1">
                  <%= f.label :campaign_content, 'Choose a photo', class: 'control-label label-with-img' %>
                  <span class="glyphicon glyphicon-camera image-icon" title="Add Image" id="upload-profile-photo"></span>

                <div class="display-inline">
                  <%= f.text_field :campaign_content, class: 'form-control input-with-img' , name: 'profile_photo_url' %>
                </div>
              </div>

              <!--cover photo filed-->
              <div class="form-group" id="post-type-2">
                <%= f.label :campaign_content, 'Choose a photo', class: 'control-label label-with-img' %>
                <span class="glyphicon glyphicon-camera image-icon" title="Add Image" id="upload-cover-photo"></span>

                <div class="display-inline">
                  <%= f.text_field :campaign_content, class: 'form-control input-with-img', name: 'cover_photo_url' %>
                </div>
              </div>

              <!--video post filed-->
              <div class="form-group" id="post-type-3">
                <%= f.label :campaign_content, 'Video URL', class: 'control-label' %>
                <div class="display-inline">
                  <%= f.text_field :campaign_content, class: 'form-control input-with-img', name: 'video_url' %>
                </div>
              </div>

              <!--photo post field-->
              <div class="form-group" id="post-type-4">
                <%= f.label :campaign_content, 'Choose a photo', class: 'control-label label-with-img' %>
                <span class="glyphicon glyphicon-camera image-icon" title="Add Image" id="upload-cover-photo"></span>

                <div class="display-inline">
                  <%= f.text_field :campaign_content, class: 'form-control input-with-img', name: 'photo_url' %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :cost, 'Cost ( INR )', class: 'control-label' %>
                <div class="display-inline">
                  <%= f.text_field :cost, { class: 'form-control campaign-cost-input', value: @campaign.cost.present? ? @campaign.cost : @costs[0][0], readonly: true, 'data-parsley-excluded' => 'input[type=text]', id: 'post_cost' } %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label '', 'Schedule Post', class: 'control-label' %>
                <div class="display-inline">
                  <div class="display-inline">
                    <%= f.radio_button :schedule_type, 'daily', { :checked => true, class: 'daily' } %>
                    <span>Run my ad set continuously starting today</span>
                  </div>

                  <div class="display-inline">
                    <%= f.radio_button :schedule_type, 'date_range', class: 'date-range' %>
                    <span>Set a start and end date</span>
                  </div>

                  <div class="campaign-date" id="start_end">
                    <div>
                      <%= f.label :start_date, 'Start' %>
                      <%= f.text_field :start_date, { value: Time.now.strftime('%d/%m/%Y'), class: 'start_date', disabled: 'disabled' } %>
                    </div>

                    <div>
                      <%= f.label :end_date, 'End' %>
                      <%= f.text_field :end_date, { value: (Time.now + 1.month).strftime('%d/%m/%Y'), class: 'end_date', disabled: 'disabled'} %>
                    </div>
                  </div>

                </div>
              </div>

              <div class="form-group">
                <%= f.label :name, 'Enter Campaign Name', class: 'control-label' %>
                <div class="display-inline campaign-name-input">
                  <%= f.text_field :name, 'data-parsley-required' => 'true' %>
                </div>
              </div>

              <%= f.hidden_field :sender_id %>
              <%= f.hidden_field :receiver_id %>
            </div>
          </div>
        </div>
      </div>

      <div class="text-pink">WHAT TEXT AND LINKS DO YOU WANT TO USE?</div>

      <div class="text-headline-form">

        <div class="">
          <%= f.label :text, 'Text' %>
        </div>
        <div class="">
          <%= f.text_area :text, rows: 4, 'data-parsley-required' => 'true' %>
        </div>

        <div class="">
          <%= f.label :headline, 'Headline' %>
        </div>
        <div class="">
          <%= f.text_field :headline, 'data-parsley-required' => 'true' %>
        </div>

      </div>
      <div class="new-campaign-button-set">
        <%= f.button 'BOOK NOW', class: 'btn btn-book-now' %>
        <%= link_to 'CANCEL', explores_path, class: 'btn btn-book-now grey-color' %>
      </div>
  <% end %>

  <!-- campaign image upload form for cover photo -->
  <%= form_for Image.new, html: {class: 'image-upload-form add_image', id: ''} do |f| %>
      <!-- this is your file input tag, so i hide it!-->
      <div style='height: 0px;width: 0px; overflow:hidden;'>
        <%= f.file_field :image_path, name: 'image[image_path]', id: 'campaign-cover-photo' %>
      </div>
      <%= hidden_field_tag :campaign_image, 1 %>
      <%= hidden_field_tag 'type', 'cover' %>
  <% end %>

  <!-- campaign image upload form for cover photo -->
  <%= form_for Image.new, html: {class: 'image-upload-form add_image', id: ''} do |f| %>
      <!-- this is your file input tag, so i hide it!-->
      <div style='height: 0px;width: 0px; overflow:hidden;'>
        <%= f.file_field :image_path, name: 'image[image_path]', id: 'campaign-profile-photo' %>
      </div>
      <%= hidden_field_tag :campaign_image, 1 %>
      <%= hidden_field_tag 'type', 'profile' %>
  <% end %>

</div>

</div>

<script type="text/javascript">
    $(document).ready(function() {

        if($('.daily:checked').length)
        {
            $('#start_end').find('*').attr('disabled', true);
        }
        else
        {
            $('#start_end').find('*').attr('disabled', false);
        }

        $('.daily').click(function() {
            $('#start_end').find('*').attr('disabled', true);
        });

        $('.date-range').click(function() {
            $('#start_end').find('*').attr('disabled', false);
        });

        $(".start_date").datepicker({
            dateFormat: "dd/mm/yy",
            minDate: 0,
            maxDate:"+365D",
            numberOfMonths: 1,
            onSelect: function(selected) {
                $(".end_date").datepicker("option","minDate", selected)
            }
        });

        $(".end_date").datepicker({
            dateFormat: "dd/mm/yy",
            minDate: 0,
            maxDate: "+365D",
            numberOfMonths: 1,
            onSelect: function(selected) {
                $(".start_date").datepicker("option","maxDate", selected)
            }
        });

        var social_account_index = $('#social_account').find('option:selected').index();
        var costs = <%= @costs %>;

        if (costs.length) {
            $('#post_cost').val(costs[social_account_index][0]);
        }

        $('#social_account').change(function() {
            social_account_index = $('#social_account').find('option:selected').index();
            $('#post_type option:first').prop('selected', 'selected');
            $('#post_cost').val(costs[social_account_index][0]);
        });

        $('#post_type').change(function() {
            if (costs.length) {
                // Dont change value 0..3 here, they are post types of campaign. if need any change then synchronize with enum in Campaign model
                if (this.value == 0) {
                    $('#post_cost').val(costs[social_account_index][0]);
                    showHide(this.value);
                }
                else if (this.value == 1) {
                    $('#post_cost').val( costs[social_account_index][1] );
                    showHide(this.value);
                }
                else if (this.value == 2) {
                    $('#post_cost').val(costs[social_account_index][2]);
                    showHide(this.value);
                }
                else if (this.value == 3) {
                    $('#post_cost').val(costs[social_account_index][3]);
                    showHide(this.value);
                }
                else if (this.value == 4) {
                    $('#post_cost').val(costs[social_account_index][4]);
                    showHide(this.value);
                }
            }

        });

        showHide(0);

/*===== display other field depending on post type value ====*/
/* ===== show_item either 0,1,2,3 that will show and other will hide =*/
        function showHide(show_item){
            console.log('Show hide method called with ' + show_item);
            var item_ids_to_hide = [0,1,2,3,4];
            item_ids_to_hide = item_ids_to_hide.filter(function(id){
                return id !=show_item;
            });

            var base_id_text = '#post-type-';

            item_ids_to_hide.forEach(function(id){
                console.log('Show hide element called with ' + id);
                $(base_id_text + id).hide();
            });

            $(base_id_text + show_item).show();
        }

   /*============ new campaign image upload form trigger ====*/
        $('#upload-profile-photo').click(function(){
            $('#campaign-profile-photo').click();
        });
// cover photo
        $('#upload-cover-photo').click(function(){
            $('#campaign-cover-photo').click();
        });

        $('.add_image').fileupload({
            dataType: "script",
            add: function (e, data) {
                var vals = Object.keys(data).map(function(key){
                    return data[key];
                });

                var file, types;
                types = /(\.|\/)(gif|jpe?g|png)$/i;
                file = data.files[0];
                if (types.test(file.type) || types.test(file.name)) {
                    // file size in MB
                    var file_size = file.size / 1048576 ;
                    // set max image size to 3 mb
                    console.log('Upload image size is ' + file_size + 'MB');
                    if( file_size > 3){
                        return bootbox.alert({ message: 'Image size is too long. Max size is 3 MB.',
                            closeButton: false});
                    }

                    $('.image-loading-message').show();
                    $('.loading-indicator').show();
                    return data.submit();
                } else {
                    return alert("" + file.name + " is not a valid format!");
                }
            },
            progress: function (e, data) {
                var progress;
                if (data.context) {
                    progress = parseInt(data.loaded / data.total * 100, 10);
                    return data.context.find('.bar').css('width', progress + '%');
                }
            },
            stop: function (e, data) {
                $('.loading-indicator').hide();
                $('.image-loading-message').hide();
            }
        });
    })
</script>
