<%= stylesheet_link_tag  'campaigns', media: 'all' %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<% title 'Brand Campaign' %>

<div class="campaign-create-wrapper">

  <div class="row ">
    <div class="col-lg-3 col-md-6 col-sm-8 col-xs-8">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-5">
          <%= image_tag(@influencer.profile_picture, :class => 'campaign-influencer-picture', :alt => "profile-picture") %>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7">
          <h4><%= @influencer.full_name.present? ? @influencer.full_name : 'USER' %></h4>
          <p class="influencer-title"> <%= @influencer.industry.present? ? @influencer.industry : 'Entrepreneur' %> </p>
          <p class="influencer-address"> <%= @influencer.street_address.present? ? @influencer.street_address : 'User Address'  %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p class="influencer-profile-info">
        <%= @influencer.short_bio %>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      </p>
    </div>
  </div>

  <%= form_for @campaign , url: campaigns_path , html: { class: 'form-horizontal'} do |f| %>

      <%= render 'shared/show_errors', :object => @campaign%>

      <%= csrf_meta_tag %>
      <div class="col-md-12">
        <div class="social-account-tabs">
          <ul class="nav nav-tabs social-account-nav-tabs">
            <!--<li class="active"><a data-toggle="tab" href="#fb_bhanu"><i class="social-account-fa-edit fa fa-facebook"></i> Bhanu Prasad</a></li>-->
          </ul>

          <div class="tab-content social-account-tab-content">
            <div id="fb_bhanu" class="tab-pane fade in active">

              <div id="costs" data-costs="<%= @costs %>"></div>

              <div class="form-group">
                <%= f.label :facebook_account_id, 'Choose Social Account Name', class: 'control-label col-md-4' %>
                <div class="col-sm-8">
                  <%= f.select :facebook_account_id, options_for_select(@influencer.facebook_accounts.map{ |account| [account.name, account.account_id] }, @campaign.facebook_account_id), {}, { :class => 'form-control type-of-post', :id => 'social_account' } %>
                </div>
              </div>

              <div class="form-group">


                <%= f.label :post_type, 'Choose the type of post', class: 'control-label col-md-4' %>
                <div class="col-sm-8">
                  <%= f.select :post_type, options_for_select(Campaign.post_types.map{ |type, value| [type.titleize, value] }, Campaign.post_types[@campaign.post_type]), {}, { :class => 'form-control type-of-post', :id => 'post_type' } %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :cost, "Cost", class: 'control-label col-md-4' %>
                <div class="col-md-8">
                  <%= f.text_field :cost, { class: 'form-control campaign-cost-input', value: @campaign.cost.present? ? @campaign.cost : '', readonly: true, id: 'post_cost' } %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label '', 'Schedule Post', class: 'control-label col-md-4' %>
                <div class="col-md-8">
                  <div>
                    <%= f.radio_button :schedule_type, 'daily', { :checked => true, class: 'daily' } %>
                    <span>Run my ad set continuously starting today</span>
                  </div>

                  <div>
                    <%= f.radio_button :schedule_type, 'date_range', class: 'date-range' %>
                    <span>Set a start and end date</span>
                  </div>

                  <div class="campaign-date" id="start_end">
                    <div>
                      <%= f.label :start_date, "Start" %>
                      <%= f.text_field :start_date, { value: Time.now.strftime("%d/%m/%Y"), class: 'start_date', disabled: 'disabled' }%>
                    </div>

                    <div>
                      <%= f.label :end_date, "End" %>
                      <%= f.text_field :end_date, { value: (Time.now + 1.month).strftime("%d/%m/%Y"), class: 'end_date', disabled: 'disabled'} %>
                    </div>
                  </div>

                </div>
              </div>

              <div class="form-group">
                <%= f.label :name, "Enter Campaign Name", class: 'control-label col-md-4' %>
                <div class="col-md-8">
                  <%= f.text_field :name %>
                </div>
              </div>

              <%= f.hidden_field :sender_id %>
              <%= f.hidden_field :receiver_id %>
            </div>
          </div>
        </div>
      </div>


      <div class="text-pink">WHAT TEXT AND LINKS DO YOU WANT TO USE?</div>

      <div class="text-headline-form">

        <div class="row">
          <%= f.label :text, "Text" %>
        </div>
        <div class="row">
          <%= f.text_area :text, rows: 4 %>
        </div>

        <div class="row">
          <%= f.label :headline, "Headline" %>
        </div>
        <div class="row">
          <%= f.text_field :headline %>
        </div>

      </div>

      <%= f.button  "BOOK NOW", class: 'btn btn-book-now' %>
      <%= link_to "CANCEL", explores_path, class: 'btn btn-book-now grey-color' %>
  <% end %>
</div>

</div>

<script type="text/javascript">
    $(document).ready(function() {

        $('.start_date').datepicker({
            dateFormat: "dd/mm/yy",
            onSelect: function(dateText, inst) {
                $(this).attr('value',dateText);
            }
        });

        $('.end_date').datepicker({
            dateFormat: "dd/mm/yy",
            onSelect: function(dateText, inst) {
                $(this).attr('value',dateText);
            }
        });

        $('.daily').click(function() {
            $('#start_end').find('*').attr('disabled', true);
        });

        $('.date-range').click(function() {
            $('#start_end').find('*').attr('disabled', false);
        });

        var social_account_index = $('#social_account').find('option:selected').index();
        var costs = <%= @costs %>;

        $('#social_account').change(function() {
            social_account_index = $('#social_account').find('option:selected').index();
            $('#post_type option:first').attr('selected', 'selected');
            $('#post_cost').val(costs[social_account_index][0]);
        });

        $('#post_type').change(function() {
            if (costs.length) {
                // Dont change value 0..3 here, they are post types of campaign. if need any change then synchronize with enum in Campaign model
                if (this.value == 0) {
                    $('#post_cost').val(costs[social_account_index][0]);
                }
                else if (this.value == 1) {
                    $('#post_cost').val( costs[social_account_index][1] );
                }
                else if (this.value == 2) {
                    $('#post_cost').val(costs[social_account_index][2]);
                }
                else if (this.value == 3) {
                    $('#post_cost').val(costs[social_account_index][3]);
                }
            }

        });
    })
</script>
