<%= stylesheet_link_tag  'campaigns', media: 'all' %>

<% title 'Brand Payment' %>

<div class="campaign-create-wrapper">

  <%
     working_key = CONFIG[:ccavenue_working_key]
     access_code = CONFIG[:ccavenue_access_code]

     payment_params = {
         merchant_id: CONFIG[:ccavenue_merchant_id],
         order_id: @campaign.id,
         amount: @campaign.cost,
         currency: 'INR',
         redirect_url: confirm_brand_payment_campaigns_url,
         billing_name: current_user.full_name,
         billing_address: current_user.street_address,
         billing_zip: current_user.zip_code,
         billing_city: current_user.city,
         billing_state: current_user.state,
         billing_country: ISO3166::Country[current_user.country].name,
         billing_tel: current_user.phone,
         billing_email: current_user.email,
     }
     merchant_data = payment_params.to_query

     crypto = CryptoService.new
     encrypted_data = crypto.encrypt(merchant_data, working_key)
  %>

  <div class="payment font-color-pink">PAYMENT</div>

  <div>
    <%= image_tag(@campaign.receiver.profile_picture, :class => 'campaign-influencer-picture payment-influencer-picture', :alt => 'profile-picture') %>
    <div class="influencer-description">
      <a href="<%= show_user_profile_path(@campaign.receiver.id) %>" data-remote="true">
        <h4><%= @campaign.receiver.full_name || 'USER' %></h4>
      </a>
      <p class="influencer-title"><%= @campaign.receiver.categories.pluck(:name).join(', ') if @campaign.receiver.categories.present? %> </p>
      <p class="influencer-address"> <%= @campaign.receiver.full_address  %> </p>
    </div>
  </div>

  <div>
    <p class="influencer-profile-info payment-profile-info">
      <%= @campaign.receiver.short_bio %>
    </p>
  </div>

  <p class="payment-information">
    <br/>
    <strong>Campaign Name :</strong> <%= @campaign.name %><br/>
    <strong>Type of Post :</strong> <%= @campaign.post_type.humanize %><br/>
    <strong>Start Date :</strong> <%= @campaign.start_date.strftime('%d-%m-%Y') %><br/>
    <strong>End Date :</strong> <%= @campaign.end_date && @campaign.end_date.strftime('%d-%m-%Y') %><br/>
    <strong>Payment :</strong> <%= @campaign.cost %> INR<br/>
    <br/>
    <strong>Campaign Heading :</strong> <%= @campaign.headline %><br/>
    <strong>Campaign Description :</strong> <%= @campaign.text %>
  </p>

  <form method="post" action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
    <input type="hidden" name="encRequest" value="<%= encrypted_data %>" />
    <input type="hidden" name="access_code" value="<%= access_code %>" />
    <input class="br-btn-submit btn-book-now" type="submit" name="submit" value="ENGAGE NOW" />
  </form>

</div>
