<%= stylesheet_link_tag  'campaigns', media: 'all' %>

<% title 'Brand Payment' %>

<div class="campaign-create-wrapper">

  <%
     working_key = CONFIG[:ccavenue_working_key]
     access_code = CONFIG[:ccavenue_access_code]

     payment_params = {
         merchant_id: CONFIG[:ccavenue_merchant_id],
         order_id: @campaign.id,
         amount: @campaign.cost,
         currency: 'INR',
         redirect_url: confirm_brand_payment_campaigns_url,
         billing_name: current_user.full_name,
         billing_address: current_user.street_address,
         billing_zip: current_user.zip_code,
         billing_city: current_user.city,
         billing_state: current_user.state,
         billing_country: ISO3166::Country[current_user.country].name,
         billing_tel: current_user.phone,
         billing_email: current_user.email,
         checksum: Time.now.to_i,
     }
     merchant_data = payment_params.to_query

     crypto = CryptoService.new
     encrypted_data = crypto.encrypt(merchant_data, working_key)
  %>

  <div class="payment font-color-pink">PAYMENT</div>

  <div>
    <%= image_tag(@campaign.receiver.profile_picture, :class => 'campaign-influencer-picture payment-influencer-picture', :alt => 'profile-picture') %>
    <div class="influencer-description">
      <a href="<%= show_user_profile_path(@campaign.receiver.id) %>" data-remote="true">
        <h4><%= @campaign.receiver.full_name || 'USER' %></h4>
      </a>
      <p class="influencer-title"><%= @campaign.receiver.categories.pluck(:name).join(', ') if @campaign.receiver.categories.present? %> </p>
      <p class="influencer-address"> <%= @campaign.receiver.full_address  %> </p>
    </div>
  </div>

  <div>
    <p class="influencer-profile-info payment-profile-info">
      <%= @campaign.receiver.short_bio %>
    </p>
  </div>

  <dl class="payment-information dl-horizontal">
    <dt>Campaign Name </dt><dd> <%= @campaign.name %></dd>
    <dt>Type of Post </dt> <dd><%= @campaign.post_type.humanize %></dd>
    <dt>Start Date </dt> <dd><%= @campaign.start_date.try(:strftime, '%d-%m-%Y') || 'NA' %></dd>
    <dt>End Date </dt> <dd><%= @campaign.end_date.try(:strftime, '%d-%m-%Y') || 'NA' %></dd>
    <dt>Heading </dt> <dd><%= @campaign.headline.present? ? @campaign.headline : 'NA' %></dd>
    <dt>Description </dt> <dd><%= @campaign.text.present? ? @campaign.text : 'NA' %></dd>
    <dt>Payment </dt> <dd><%= @campaign.cost %> INR</dd>
  </dl>

  <form method="post" action="https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
    <input type="hidden" name="encRequest" value="<%= encrypted_data %>" />
    <input type="hidden" name="access_code" value="<%= access_code %>" />
    <input class="br-btn-submit btn-book-now" type="submit" name="submit" value="ENGAGE NOW" />
  </form>

</div>
