<%= stylesheet_link_tag 'brands-explore.css', media: 'all' %>

<% title "Brand Explore" %>

<div class="brands-explore-content-wrapper">
  <div class="brands-explore-advance-search">
    <form action="" role="form" class="vertical">
      <h4>ADVANCED SEARCH</h4>

      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="category"> Category </label>
              <select name="" id="category">
                <option>Select a Category</option>
                <option>Option2</option>
              </select>
            </div>

            <div class="col-md-12">
              <label for="category"> Followers </label>
              <select name="" id="follower">
                <option>Choose a range</option>
                <option>Option2</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="social-media-platform"> Social Media Platform </label>
              <select name="social_media_platform" id="social-media-platform">
                <option>Select a Social Media Platform</option>
                <option>Linkedin</option>
              </select>
            </div>

            <div class="col-md-12">
              <label for="influencer_price"> Price </label>
              <select name="social_media_platform" id="influencer_price">
                <option>Choose a range</option>
                <option>Linkedin</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <label for="location_country"> Location </label>
              <select name="country" id="location_country">
                <option>Select Country</option>
                <option>USA</option>
              </select>

              <div>
                <select name="location_state" id="location_state">
                  <option>Select State</option>
                  <option>Option1</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- end of advance search option -->

  <hr/>

  <div class="search-result">
    <% @influncers.each_slice(4) do |influncer_group| %>
        <div class="row padding-less-column-parent">
          <% influncer_group.each do |influencer| %>
              <div class="col-md-3 col-sm-6 col-sm-12">
                <div class="search-result-item">
                  <%= image_tag(influencer.profile_picture, class: 'img-responsive explore-search-image') %>
                  <div class="influencer-data">
                    <div class="influencer-name"> <%= influencer.full_name.present? ? influencer.full_name : 'User' %> </div>

                    <p class="influencer-address"> <%= influencer.street_address.present? ? influencer.street_address : 'User Address'  %></p>

                    <p class="title"> <%= influencer.industry.present? ? influencer.industry : 'Entrepreneur' %></p>

                    <p class="influencer-biography"><%= influencer.short_bio %> </p>

                    <div>
                      <%= image_tag('explore-followers.png', :alt => "number-of-follower") %> &nbsp;23,456
                    </div>
                  </div>
                  <%= link_to 'VIEW PROFILE'.html_safe, "#show-brands-profile", "data-toggle" => "modal", :class => "btn btn-primary btn-view-profile" %>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>

  <%= paginate @influncers %>

  <%= render partial: 'brands/explore_influencers_profile' %>

</div>
