<%= javascript_include_tag 'responsive-tabs' %>

<ul class="nav nav-tabs responsive social-account-nav-tabs">
  <% @user.active_facebook_accounts.each do |account| %>
      <li>
        <a data-toggle="tab" href="#fb_<%= account.account_id %>">
          <i class="social-account-fa-edit fa fa-facebook"></i>
          <%= account.name %>
        </a>
      </li>
  <% end %>
</ul>

<div class="tab-content responsive social-account-tab-content">
  <% @user.active_facebook_accounts.each_with_index do |account, index| %>

      <% prefix = "user[facebook_accounts_attributes][#{index}]" %>
      <%= fields_for prefix, account do |g| %>

          <div id="fb_<%= g.object.account_id %>" class="js-social-account-tab tab-pane" data-engaged="<%= g.object.has_engaged_capmaign? %>">
            <%= hidden_field_tag "#{prefix}[id]", account.id %>
            <div class="form-group">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <%= g.label :status_update_cost, 'Status Update' %>
                <%= g.number_field :status_update_cost, { inputmode: 'numeric', pattern: '[0-9]*', min: 0, maxlength: '12' } %> INR
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <%= g.label :cover_photo_cost, 'Cover Photo' %>
                <%= g.number_field :cover_photo_cost, { inputmode: 'numeric', pattern: '[0-9]*', min: 0, maxlength: '12' } %> INR
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <%= g.label :profile_photo_cost, 'Profile Photo' %>
                <%= g.number_field :profile_photo_cost, { inputmode: 'numeric', pattern: '[0-9]*', min: 0, maxlength: '12' } %> INR
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <%= g.label :video_post_cost, 'Video Post' %>
                <%= g.number_field :video_post_cost, { inputmode: 'numeric', pattern: '[0-9]*', min: 0, maxlength: '12' } %> INR
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <%= g.label :photo_post_cost, 'Photo Post' %>
                <%= g.number_field :photo_post_cost, { inputmode: 'numeric', pattern: '[0-9]*', min: 0, maxlength: '12' } %> INR
              </div>
            </div>
          </div>

      <% end %>
  <% end %>
</div>

<script>
    $('.social-account-nav-tabs a:first').tab('show');
    $(function(){
        fakewaffle.responsiveTabs(['xs', 'sm']);
    });
</script>
