<%= stylesheet_link_tag 'contact-us', media: 'all', 'data-turbolinks-track' => true %>

<% title 'Contact Us' %>

<div class="contact-us">
  <div class="get-in-touch-form">

    <%= render 'shared/show_errors', :object => @contact_us%>

    <div class="get-in-touch"> GET IN TOUCH </div>

    <%= form_for @contact_us, url: contact_us_save_profile_index_path, method: :post, html: { class: '' } do |f| %>

        <div class="get-in-touch-category">
          <%= f.label :category, 'Category', class: 'category-name display-inline' %>
          <%= f.select :category, options_for_select(ContactUs.categories.map{ |type, value| [type.titleize, value]} ), {}, { :class => 'category-list display-inline' } %>
        </div>

        <div class="get-in-touch-message">
          <%= f.label :message, 'Message', class: 'message-name display-inline' %>
          <%= f.text_area :message, rows: 6, class: 'get-in-touch-message-textarea display-inline' %>
        </div>

        <div class="get-in-touch-submit">
          <div class="form-group">
            <%= f.button 'SUBMIT', class: 'btn get-in-touch-submit-button' %>
          </div>
        </div>
    <% end %>

  </div>
</div>