<%= stylesheet_link_tag  'profile.css', media: 'all' %>

<% title "BrandReach Profile" %>

<%= form_for @user, :url => {:controller => "profile", :action => "update"}, html: { class: "form-horizontal personal-info-form"} do |f| %>

    <div class="brands-profile-page-wrapper">
      <%= image_tag('user2-160x160.jpg', :class => 'profile-picture', :alt => "profile-picture") %>

      <h4 class="personal-info">PERSONAL INFORMATION</h4>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div class="col-md-6">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :company_name %>
          <%= f.text_field :company_name %>
        </div>
        <div class="col-md-6">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :industry %>
          <%= f.text_field :industry %>
        </div>
        <div class="col-md-6">
          <%= f.label :phone %>
          <%= f.text_field :phone %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
          <label for="country">Country</label>
          <select class="profile-dropdown-color" id="country">
            <option>Country 1</option>
            <option>Country 2</option>
            <option>Country 3</option>
          </select>

        </div>
        <div class="col-md-6">
          <%= f.label :state %>
          <%= f.select(:state, [['State 1', 1], ['State 2', 2], ['State 3', 3], ['State 4', 4], ['State 5', 5]], {}, { :class => 'profile-dropdown-color'}) %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <%= f.label :city %>
              <%= f.text_field :city %>
            </div>
            <div class="col-md-12">
              <%= f.label :zip_code %>
              <%= f.text_field :zip_code %>
            </div>
            <div class="col-md-12">
              <%= f.label :landmark %>
              <%= f.text_field :landmark %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <%= f.label :street_address, class: 'textarea-label' %>
          <%= f.text_area :street_address, rows: 4, class: 'street-address-textarea', placeholder: "Enter your address here" %>
        </div>
      </div>

      <h4 class="account-setup">ACCOUNT SETUP</h4>

      <div class="form-group">
        <div class="col-md-6">
          <label for="old_password" class="">Old Password</label>
          <input type="password" class="" id="old_password"/>
        </div>
        <div class="col-md-6">
          <label>&nbsp;</label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :password, "New Password" %>
          <%= f.text_field :password %>
        </div>
        <div class="col-md-6">
          <%= f.label :password_confirmation, "Retype Password" %>
          <%= f.text_field :password_confirmation %>
        </div>
      </div>

      <h4 class="company-info">COMPANY INFORMATION</h4>

      <div class="form-group short-bio-row">
        <div class="col-md-12">
          <%= f.label :short_bio, class: 'textarea-label' %>
          <%= f.text_area :short_bio, rows: 6, class: 'short_bio' %>
        </div>
      </div>
    </div>
    <%= f.submit  "UPDATE", class: 'btn btn-update' %>

<% end %>
