<%= stylesheet_link_tag  'profile.css', media: 'all' %>

<% title "BrandReach Profile" %>

<div class="brands-profile-page-wrapper">

  <%= image_tag(@user.profile_picture, :class => 'profile-picture', :alt => "profile-picture") %>

  <%= form_for @user, url: profile_path(@user), html: { class: 'form-horizontal personal-info-form'} do |f| %>

      <h4 class="personal-info">PERSONAL INFORMATION</h4>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :first_name, "First Name" %>
          <%= f.text_field :first_name %>
        </div>
        <div class="col-md-6">
          <%= f.label :last_name, "Last Name" %>
          <%= f.text_field :last_name %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :company_name, "Company Name" %>
          <%= f.text_field :company_name %>
        </div>
        <div class="col-md-6">
          <%= f.label :company_email, "Company Email" %>
          <%= f.email_field :company_email %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :industry %>
          <%= f.text_field :industry %>
        </div>
        <div class="col-md-6">
          <%= f.label :phone %>
          <%= f.text_field :phone %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :country %>
          <%= f.country_select :country, {priority: %w(US CA IN)}, { :class => 'profile-dropdown-color'}, {} %>
        </div>

        <div class="col-md-6">
          <%= f.label :state %>
          <%= render partial: 'shared/sub_region_select', locals: {parent_region: f.object.country} %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <%= f.label :city %>
              <%= f.text_field :city %>
            </div>
            <div class="col-md-12">
              <%= f.label :zip_code %>
              <%= f.text_field :zip_code %>
            </div>
            <div class="col-md-12">
              <%= f.label :landmark %>
              <%= f.text_field :landmark %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <%= f.label :street_address, class: 'textarea-label' %>
          <%= f.text_area :street_address, rows: 4, class: 'street-address-textarea', placeholder: "Enter your address here" %>
        </div>
      </div>

      <h4 class="company-info">COMPANY INFORMATION</h4>

      <div class="form-group short-bio-row">
        <div class="col-md-12">
          <%= f.label :short_bio, "Short Bio", class: 'textarea-label' %>
          <%= f.text_area :short_bio, rows: 6, class: 'short_bio' %>
        </div>
      </div>

      <% if @user.influencer? %>

          <h4 class="social-account">SOCIAL ACCOUNTS AND PRICING</h4>

          <%= link_to '<i class="fa fa-plus"></i> ADD ACCOUNT'.html_safe, "#AddAccount", "data-toggle" => "modal", :class => "btn btn-account" %>

          <%= render partial: 'shared/add_account_modal'%>

          <% if @user.facebook.present? %>
              <div class="social-account-tabs">
                <ul class="nav nav-tabs social-account-nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#fb_bhanu"><i class="social-account-fa-edit fa fa-facebook"></i> Bhanu Prasad</a></li>
                  <!--<li><a data-toggle="tab" href="#twitter_bhanu"><i class="social-account-fa-edit fa fa-twitter"></i> Bhanu Prasad</a></li>-->
                </ul>

                <%= f.fields_for @facebook do |g| %>

                    <div class="tab-content social-account-tab-content">
                      <div id="fb_bhanu" class="tab-pane fade in active">
                        <div class="form-group">
                          <div class="col-md-5 col-sm-8 col-xs-11">
                            <%= g.label :status_update_price, "Status Update" %>$
                            <%= g.text_field :status_update_price %> USD
                          </div>
                          <div class="col-md-6 col-sm-8 col-xs-11">
                            <%= g.label :banner_photo_price, "Cover Photo" %>$
                            <%= g.text_field :banner_photo_price %> USD
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-5 col-sm-8 col-xs-11">
                            <%= g.label :profile_photo_price, "Profile Photo" %>$
                            <%= g.text_field :profile_photo_price %> USD
                          </div>
                          <div class="col-md-6 col-sm-8 col-xs-11">
                            <%= g.label :video_post_price, "Video Post" %>$
                            <%= g.text_field :video_post_price %> USD
                          </div>
                        </div>
                      </div>
                    </div>
                <% end %>

                <!--<div id="twitter_bhanu" class="tab-pane fade">-->
                <!--<div class="form-group">-->
                <!--<div class="col-md-5 col-sm-8 col-xs-11">-->
                <!--<label for="twitter_bhanu_status_update">Status Update</label>$-->
                <!--<input type="text" class="" id="twitter_bhanu_status_update"/> USD-->
                <!--</div>-->
                <!--<div class="col-md-6 col-sm-8 col-xs-11">-->
                <!--<label for="twitter_bhanu_cover_photo">Cover Photo</label>$-->
                <!--<input type="text" class="" id="twitter_bhanu_cover_photo"/> USD-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<div class="col-md-5 col-sm-8 col-xs-11">-->
                <!--<label for="twitter_bhanu_profile_photo">Profile Photo</label>$-->
                <!--<input type="text" class="" id="twitter_bhanu_profile_photo"/> USD-->
                <!--</div>-->
                <!--<div class="col-md-6 col-sm-8 col-xs-11">-->
                <!--<label for="twitter_bhanu_video_post">Video Post</label>$-->
                <!--<input type="text" class="" id="twitter_bhanu_video_post"/> USD-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->


              </div>
          <% end %>

      <% end %>


      <%= f.button  "UPDATE INFORMATION", class: 'btn btn-update' %>
  <% end %>

  <div class="divider-personal-info-password"></div>

  <%= form_for @user, :url => {:controller => "profile", :action => "update_password" }, :method => :put, html: { class: "form-horizontal personal-info-form"} do |f| %>

      <h4 class="account-setup">ACCOUNT SETUP</h4>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :current_password, "Old Password" %>
          <%= f.password_field :current_password %>
        </div>
        <div class="col-md-6">
          <label>&nbsp;</label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :password, "New Password" %>
          <%= f.password_field :password %>
        </div>
        <div class="col-md-6">
          <%= f.label :password_confirmation, "Retype Password" %>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <%= f.button  "UPDATE PASSWORD", class: 'btn btn-update' %>
  <% end %>

  <%= render partial: 'shared/profile_image_upload'%>
</div>

