<%= stylesheet_link_tag 'bootstrap-chosen', media: 'all' %>
<%= stylesheet_link_tag 'profile.css', media: 'all' %>
<%= javascript_include_tag 'phone-format-global' %>
<%= javascript_include_tag 'chosen.jquery' %>

<% if @user.brand? %>
    <% title 'Brand Profile' %>
<% else %>
    <% title 'Influencer Profile' %>
<% end %>

<div class="brands-profile-page-wrapper">

  <%= render 'shared/show_errors', :object => @user%>
  <%= image_tag(@user.profile_picture(:thumb), :class => 'profile-picture center-block img-circle', :alt => 'profile-picture') %>

  <%= form_for @user, url: profile_path(@user), data: { parsley_validate: '', parsley_excluded: 'input[type=number]' } , html: {class: 'form-horizontal personal-info-form', id: 'edit_user'} do |f| %>

      <div class="personal-info-without-fb">

        <h4 class="personal-info">PERSONAL INFORMATION</h4>

        <div class="form-group">
          <div class="col-md-6">
            <%= f.label :first_name, 'First Name' %>
            <%= f.text_field :first_name, maxlength: 20, 'data-parsley-required' => 'true' %>
          </div>
          <div class="col-md-6">
            <%= f.label :last_name, 'Last Name' %>
            <%= f.text_field :last_name, maxlength: 20, 'data-parsley-required' => 'true' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <%= f.label :company_name, 'Company Name' %>
            <%= f.text_field :company_name, maxlength: 50, 'data-parsley-required' => 'true' %>
          </div>
          <div class="col-md-6">
            <%= f.label :company_email, current_user.brand? ? 'Company Email' : 'Email' %>
            <%= f.email_field :company_email, maxlength: 50, 'data-parsley-required' => 'true', 'data-parsley-type' => 'email' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <%= f.label :industry, class: 'industry-label'%>
            <%= f.collection_select :industry, @all_industries, :id, :name, { selected: @selected_industries.map(&:id) }, { class: 'chosen', multiple: true, 'data-parsley-required' => 'true', 'data-parsley-errors-container' => '#industry_field_error' }  %>
            <div id="industry_field_error"></div>
          </div>
          <div class="col-md-6">
            <%= f.label :phone %>
            <%= f.text_field :phone, maxlength: 20, 'data-parsley-pattern' => '(^[\+]?[0-9]+[-]?[0-9]+[-]?[0-9]+$)', 'data-parsley-required' => 'true', 'data-parsley-length' => '[10, 14]' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <div>
              <%= f.label :street_address, class: 'textarea-label' %>
              <%= f.text_area :street_address, rows: 4, class: 'street-address-textarea',
                              placeholder: 'Enter your address here', maxlength: 200 %>
            </div>
            <div>
              <%= f.label :zip_code %>
              <%= f.text_field :zip_code, maxlength: 20, 'data-parsley-required' => 'true' %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <%= f.label :landmark %>
                <%= f.text_field :landmark, maxlength: 100 %>
              </div>
              <div class="col-md-12">
                <%= f.label :city %>
                <%= f.text_field :city, maxlength: 50, 'data-parsley-required' => 'true' %>
              </div>
              <div class="col-md-12">
                <%= f.label :country %>
                <%= f.country_select :country, {priority: %w(IN)}, {:class => 'profile-dropdown-color country-responsive-font'}, {} %>
              </div>
              <div class="col-md-12">
                <%= f.label :state %>
                <%= render partial: 'shared/sub_region_select', locals: { parent_region: f.object.country || 'IN' } %>
              </div>
            </div>
          </div>
        </div>

        <% unless current_user.provider? || current_user.uid? %>
            <div class="divider-personal-info-password"></div>

            <h4 class="account-setup">ACCOUNT SETUP</h4>

            <div class="form-group">
              <div class="col-md-6">
                <%= f.label :current_password, 'Current Password' %>
                <%= f.password_field :current_password, 'data-parsley-minlength'=> '6' %>
              </div>
              <div class="col-md-6">
                <label>&nbsp;</label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6">
                <%= f.label :password, 'New Password' %>
                <%= f.password_field :password, 'data-parsley-minlength'=> '6',  id: 'password_confirm' %>
              </div>
              <div class="col-md-6">
                <%= f.label :password_confirmation, 'Retype Password' %>
                <%= f.password_field :password_confirmation, 'data-parsley-minlength'=> '6',
                                     'data-parsley-equalto'=> '#password_confirm',
                                     'data-parsley-equalto-message' => 'Do not match with new password field.' %>
              </div>
            </div>
        <% end %>

        <h4 class="company-info">
          <%= @user.influencer? ? 'PROFESSIONAL INFORMATION' : 'COMPANY INFORMATION' %>
        </h4>

        <div class="form-group short-bio-row">
          <div class="col-md-12">
            <%= f.label :short_bio, 'Short Bio', class: 'textarea-label' %>
            <%= f.text_area :short_bio, rows: 8, class: 'short_bio', maxlength: '1000', 'data-parsley-required' => 'true' %>
          </div>
        </div>
      </div>

      <% if @user.influencer? %>
          <h4 class="social-account">SOCIAL ACCOUNTS AND PRICING</h4>

          <button type="button"
                  class="btn-profile-page-add-fb js-add-account"
                  data-trigger="modal" data-target="AddFacebookAccount"
                  href="javascript:"
                  data-dismiss="modal">
            ADD ACCOUNT
          </button>

          <%= render 'shared/add_account_modal', remote: true %>

          <div class="social-account-tabs">
            <%= render partial: 'social_account_tabs', locals: { f: f } %>
          </div>
      <% end %>

      <%= render partial: 'shared/guideline_modal'%>
</div>

      <%= f.button 'UPDATE', class: 'btn-profile-page-update' %>
  <% end %>

  <script>
      $(document).ready(function () {
          $(".chosen").chosen({
              placeholder_text_multiple: 'Select Industry'
          });

          $('.personal-info-form').submit(function(e){
              var country_code = $('#user_country').find('option:selected').val();
              var phone_number =  $('#user_phone').val();

              if ( PhoneFormat.isValidNumber(phone_number, country_code) != true ) {
//                  console.log(phone_number + '   ' +country_code);
//                  console.log(PhoneFormat.isValidNumber(phone_number, country_code));
                  bootbox.alert({message: 'Invalid phone number', closeButton: false});
                  return false;
              }
              else
              {
                  return true;
              }
          });

//          password filed validation
          $("#user_current_password, #password_confirm, #user_password_confirmation").on('change', function() {
              if ($("#user_current_password").val().length > 0 ||
                      $("#password_confirm").val().length > 0 ||
                      $("#user_password_confirmation").val().length > 0)
              {
                  // If any field is filled, set attr required
                  $("#user_current_password, #password_confirm, #user_password_confirmation").attr("required", "required");
              } else {
                  // if all fields are empty, remove required attr
                  $("#user_current_password, #password_confirm, #user_password_confirmation").removeAttr("required");
              }
              // destroy ParsleyForm instance
              $('#edit_user').parsley().destroy();

              // bind parsley
              $('#edit_user').parsley();
          });

//          help modal close
          $(document).on('hidden.bs.modal', '.modal', function () {
              $('.modal:visible').length && $(document.body).addClass('modal-open');
          });

      });

  </script>
