<%= stylesheet_link_tag 'profile.css', media: 'all' %>

<% title 'BrandReach Profile' %>

<div class="brands-profile-page-wrapper">

  <%= render 'shared/show_errors', :object => @user%>
  <%= image_tag(@user.profile_picture, :class => 'profile-picture center-block img-circle', :alt => 'profile-picture') %>

  <%= form_for @user, url: profile_path(@user), html: {class: 'form-horizontal personal-info-form'} do |f| %>

      <h4 class="personal-info">PERSONAL INFORMATION</h4>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :first_name, 'First Name' %>
          <%= f.text_field :first_name, required: true  %>
        </div>
        <div class="col-md-6">
          <%= f.label :last_name, 'Last Name' %>
          <%= f.text_field :last_name, required: true  %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :company_name, 'Company Name' %>
          <%= f.text_field :company_name, required: true %>
        </div>
        <div class="col-md-6">
          <%= f.label :company_email, current_user.brand? ? 'Company Email' : 'Email' %>
          <%= f.email_field :company_email, required: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :industry %>
          <%= f.text_field :industry, required: true %>
        </div>
        <div class="col-md-6">
          <%= f.label :phone %>
          <%= f.text_field :phone, required: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
          <%= f.label :street_address, class: 'textarea-label' %>
          <%= f.text_area :street_address, rows: 4, class: 'street-address-textarea', placeholder: 'Enter your address here', required: true %>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <%= f.label :landmark %>
              <%= f.text_field :landmark, required: true %>
            </div>
            <div class="col-md-12">
              <%= f.label :city %>
              <%= f.text_field :city, required: true %>
            </div>
            <div class="col-md-12">
              <%= f.label :country %>
              <%= f.country_select :country, {priority: %w(US CA IN)}, {:class => 'profile-dropdown-color'}, {} %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">

        <div class="col-md-6">
          <%= f.label :zip_code %>
          <%= f.text_field :zip_code, required: true %>
        </div>

        <div class="col-md-6">
          <%= f.label :state %>
          <%= render partial: 'shared/sub_region_select', locals: { parent_region: f.object.country } %>
        </div>
      </div>


      <% unless current_user.provider? || current_user.uid? %>
          <div class="divider-personal-info-password"></div>

          <h4 class="account-setup">ACCOUNT SETUP</h4>

          <div class="form-group">
            <div class="col-md-6">
              <%= f.label :current_password, 'Old Password' %>
              <%= f.password_field :current_password %>
            </div>
            <div class="col-md-6">
              <label>&nbsp;</label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <%= f.label :password, 'New Password' %>
              <%= f.password_field :password %>
            </div>
            <div class="col-md-6">
              <%= f.label :password_confirmation, 'Retype Password' %>
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
      <% end %>

      <h4 class="company-info">
        <%= @user.influencer? ? 'PROFESSIONAL INFORMATION' : 'COMPANY INFORMATION' %>
      </h4>

      <div class="form-group short-bio-row">
        <div class="col-md-12">
          <%= f.label :short_bio, 'Short Bio', class: 'textarea-label' %>
          <%= f.text_area :short_bio, rows: 8, class: 'short_bio', required: true %>
        </div>
      </div>

      <% if @user.influencer? %>

          <h4 class="social-account">SOCIAL ACCOUNTS AND PRICING</h4>

          <%= link_to '<i class="fa fa-plus"></i> ADD ACCOUNT'.html_safe, '#AddAccount', 'data-toggle' => 'modal', :class => 'btn btn-account' %>

          <%= render partial: 'shared/add_account_modal' %>

          <% if @user.facebook_accounts.present? %>
              <div class="social-account-tabs">
                <ul class="nav nav-tabs social-account-nav-tabs">
                  <% @user.facebook_accounts.each do |account| %>
                      <li>
                        <a data-toggle="tab" href="#fb_<%= account.account_id %>"><i class="social-account-fa-edit fa fa-facebook"></i> <%= account.name %>
                        </a></li>
                  <% end %>
                </ul>

                <div class="tab-content social-account-tab-content">
                  <%= f.fields_for :facebook_accounts do |g| %>

                      <div id="fb_<%= g.object.account_id %>" class="tab-pane">
                        <div class="form-group">
                          <div class="col-md-4 col-sm-7 col-xs-10">
                            <%= g.label :status_update_cost, "Status Update" %>
                            <%= g.number_field :status_update_cost, required: true %> INR
                          </div>
                          <div class="col-md-6 col-sm-7 col-xs-10">
                            <%= g.label :cover_photo_cost, "Cover Photo" %>
                            <%= g.number_field :cover_photo_cost, required: true %> INR
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-4 col-sm-7 col-xs-10">
                            <%= g.label :profile_photo_cost, "Profile Photo" %>
                            <%= g.number_field :profile_photo_cost, required: true %> INR
                          </div>
                          <div class="col-md-6 col-sm-7 col-xs-10">
                            <%= g.label :video_post_cost, "Video Post" %>
                            <%= g.number_field :video_post_cost, required: true %> INR
                          </div>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>

              <script>
                  $('.social-account-nav-tabs a:first').tab('show');
              </script>

          <% end %>
      <% end %>

      <%#= render partial: 'shared/profile_image_upload', locals: { user: current_user } %>
      </div>
      <%= f.button 'UPDATE', class: 'btn btn-update' %>
  <% end %>

