<%= stylesheet_link_tag 'brands_home', media: 'all', 'data-turbolinks-track' => true %>

<% title 'Brand Home' %>

<div class="identity">
  <div class="wrapper-content">
    <div class="text-upper">
      <div class="text-upper-identity">Identify, Initiate,</div>
      <div class="text-upper-identity">Inspire.</div>
    </div>
    <div class="text-lower">
      <div class="text-lower-identity">Enlist top creators & influencers to</div>
      <div class="text-lower-identity">leverage your brand.</div>
    </div>
  </div>
</div>

<div class="statistics">
  <div class="wrapper-content">

    <div class="text-top helvetica-neue-light"> Statistics</div>
    <div class="stats-block">
      <span class="numeric color-brand count" data-value="10,000">0</span>
      <span class="textual"> BRANDS </span>
    </div>
    <div class="stats-block">
      <span class="numeric color-influencer count" data-value="25,000">0</span>
      <span class="textual"> INFLUENCERS </span>
    </div>
    <div class="stats-block">
      <span class="numeric color-campaign count" data-value="120,000">0</span>
      <span class="textual"> CAMPAIGNS </span>
    </div>
    <div class="stats-block posts-padding">
      <span class="numeric color-posts count" data-value="248,000">0</span>
      <span class="textual"> POSTS </span>
    </div>
  </div>
</div>

<div class="about-us" id="about_us">
  <div class="wrapper-content">
    <div class="text-top helvetica-neue-light">
      About Us
    </div>

    <div class="text-description"> We initiate branding
      </br>campaigns and advocate high
      </br>quality brand engagement.</div>

    <div class="about-us-block-container">
      <div class="about-us-block">
        <span class="image"><%= image_tag('Identify.png') %></span>
        <span class="textual"> Identify </span>
      </div>
      <div class="about-us-block">
        <span class="image"> <%= image_tag('Leverage-Content.png') %></span>
        <span class="textual leverage"> Leverage content across platforms</span>
      </div>
      <div class="about-us-block">
        <span class="image"><%= image_tag('Scale-your-influence.png') %></span>
        <span class="textual scale"> Scale your influence </span>
      </div>
      <div class="about-us-block">
        <span class="image"><%= image_tag('Measure.png') %></span>
        <span class="textual"> Measure </span>
      </div>
      <div class="about-us-block">
        <span class="image"><%= image_tag('Technology.png') %></span>
        <span class="textual"> Technology </span>
      </div>
    </div>
  </div>
</div>

<div class="brands">
  <div class="wrapper-content">
    <div class="text-top few-brand helvetica-neue-light">Few of our Brands</div>
    <div class="brands-block">
      <span><a href="#" data-toggle="popover" title="Eagleboys Pizza"><%= image_tag('Brand1.png') %></a></span>
      <span><a href="#" data-toggle="popover" title="Demo"><%= image_tag('Brand2.png') %></a></span>
      <span><a href="#" data-toggle="popover" title="Cream Stone"><%= image_tag('Brand3.png') %></a></span>
      <span><a href="#" data-toggle="popover" title="Harley Davidson"><%= image_tag('Brand4.png') %></a></span>
      <span><a href="#" data-toggle="popover" title="Airtel"><%= image_tag('Brand5.png') %></a></span>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({trigger: 'hover', placement: "bottom"});

        // for nav bar show and hide
        $('.navbar-header button').click(function() {
            if ($("#myNavbar.in").length)
            {
                $("#myNavbar").collapse('hide');
            }
            else
            {
                $("#myNavbar").collapse('show');
            }
        });

        var path = '//easy.myfonts.net/v2/js?sid=10257(font-family=Helvetica+Neue+35+Thin)&sid=10261(font-family=Helvetica+Neue+75+Bold)&sid=10263(font-family=Helvetica+Neue+45+Light)&sid=10265(font-family=Helvetica+Neue+65+Medium)&key=uhXXeSVbUB',
                protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
                trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    });


</script>
