<%= stylesheet_link_tag 'brands_home', media: 'all', 'data-turbolinks-track' => true %>

<% title 'Influencers Home' %>

<div class="identity" xmlns="http://www.w3.org/1999/html">
  <div class="wrapper-content">
    <div class="text-upper">
      <div class="text-upper-identity">Get Listed,</div>
    </div>
    <div class="text-lower">
      <div class="text-lower-identity influencer-text">Be an influencer and advocate brands you love.</div>
    </div>
  </div>
</div>

<div class="statistics">
  <div class="wrapper-content">

    <div class="text-top helvetica-neue-light"> Statistics</div>
    <div class="stats-block">
      <span class="numeric color-brand count">10,000</span>
      <span class="textual"> BRANDS </span>
    </div>
    <div class="stats-block">
      <span class="numeric color-influencer count">25,000</span>
      <span class="textual"> INFLUENCERS </span>
    </div>
    <div class="stats-block">
      <span class="numeric color-campaign count">120,000</span>
      <span class="textual"> CAMPAIGNS </span>
    </div>
    <div class="stats-block posts-padding">
      <span class="numeric color-posts count">248,000</span>
      <span class="textual"> POSTS </span>
    </div>
  </div>
</div>

<div class="about-us" id="about_us">
  <div class="wrapper-content">
    <div class="text-top helvetica-neue-light">
      About Us
    </div>

    <div class="text-description"> We initiate branding
     </br>campaigns and advocate high
     </br>quality brand engagement.</div>

    <div class="about-us-block-container">
      <div class="about-us-block">
        <span class="image"><%= image_tag('Identify.png') %></span>
        <span class="textual"> Identify </span>
      </div>
      <div class="about-us-block">
        <span class="image"> <%= image_tag('Leverage-Content.png') %></span>
        <span class="textual leverage"> Leverage content across platforms</span>
      </div>
      <div class="about-us-block">
        <span class="image"><%= image_tag('Scale-your-influence.png') %></span>
        <span class="textual scale"> Scale your influence </span>
      </div>
      <div class="about-us-block">
        <span class="image"><%= image_tag('Measure.png') %></span>
        <span class="textual"> Measure </span>
      </div>
      <div class="about-us-block">
        <span class="image"><%= image_tag('Technology.png') %></span>
        <span class="textual"> Technology </span>
      </div>
    </div>
  </div>
</div>

<div class="brands">
  <div class="wrapper-content">
    <div class="text-top few-brand helvetica-neue-light">Few of our Influencers</div>
    <div class="brands-block">
      <span><a href="#" data-toggle="popover" title="2.3M Followers"><%= image_tag('tom-cruise.png', :class => 'influencers-picture') %></a></span>
      <span><a href="#" data-toggle="popover" title="2.5M Followers"><%= image_tag('Akshay-kumar.png', :class => 'influencers-picture') %></a></span>
      <span><a href="#" data-toggle="popover" title="2.9M Followers"><%= image_tag('shahrukh-khan.png', :class => 'influencers-picture') %></a></span>
      <span><a href="#" data-toggle="popover" title="1.3M Followers"><%= image_tag('katrina-kaif.png', :class => 'influencers-picture') %></a></span>
      <span><a href="#" data-toggle="popover" title="1.9M Followers"><%= image_tag('taylor-swift.png', :class => 'influencers-picture') %></a></span>
    </div>
  </div>
</div>



<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({trigger: 'hover', placement: "bottom"});

        var path = '//easy.myfonts.net/v2/js?sid=10257(font-family=Helvetica+Neue+35+Thin)&sid=10261(font-family=Helvetica+Neue+75+Bold)&sid=10263(font-family=Helvetica+Neue+45+Light)&sid=10265(font-family=Helvetica+Neue+65+Medium)&key=uhXXeSVbUB',
                protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
                trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    });

</script>
