<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:title) %></title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
  <%= stylesheet_link_tag 'application.css', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tag %>

  <script type="text/javascript">
      // global variable for pubnub
      var PUBNUB_CLIENT = null;
      var current_user_id = <%= current_user.id %>;

      $(document).ready(function () {

          <% if Rails.env.beta? || Rails.env.production? %>
          PUBNUB_CLIENT = PUBNUB.init({
              subscribe_key: '<%= CONFIG[:pubnub_subscribe_key] %>',
              uuid: current_user_id,
              ssl: true
          });
          <% else %>
          PUBNUB_CLIENT = PUBNUB.init({
              subscribe_key: '<%= CONFIG[:pubnub_subscribe_key] %>',
              uuid: current_user_id
          });
          <% end %>

          PUBNUB_CLIENT.subscribe({
              channel: ['<%= current_user.channel_name %>'],
              message: function (m) {
                  PUBNUB_CLIENT.events.fire(m.event, m);
                  console.log('subscribe user to pubnub channel' + m);
              }
          });

          PUBNUB_CLIENT.events.bind("MESSAGE", function (message) {
              var messageTemplate = Handlebars.compile($('#message-template').html());
              var outputHtml = messageTemplate(message.attributes);
              $('.message-container-' + message.attributes.campaign_id).prepend(outputHtml);

              if( $('.offer-box-' + message.attributes.campaign_id).children('.offer-body.in').length ){
                  makeMessageRead(message.attributes.campaign_id);
              }else{
                  $('.read-status-' + message.attributes.campaign_id).removeClass('invisible');
                  updateUnreadMessage();
              }
          });

//          new offer pubnub event
          PUBNUB_CLIENT.events.bind("NEW_OFFER", function (message) {
              var messageTemplate = Handlebars.compile($('#message-template').html());
              var outputHtml = messageTemplate(message.attributes);
              $('.message-container-' + message.attributes.campaign_id).prepend(outputHtml);

              if( $('.offer-box-' + message.attributes.campaign_id).children('.offer-body.in').length ){
                  makeMessageRead(message.attributes.campaign_id);
              }else{
                  $('.read-status-' + message.attributes.campaign_id).removeClass('invisible');
                  updateUnreadMessage();
              }
          });
      });
  </script>
  <!-- end of pubnub setting -->

  <%= yield :head %>
</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header visible-xs">
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="center-block profile-info">
        <a href="#profile_image_upload_modal" data-toggle="modal"><span class="fa fa-camera camera"></span></a>

        <%= image_tag(current_user.profile_picture, :class => 'img-circle profile-image center-block', :alt => 'profile-picture') %>

        <div class="info">
          <p class="name"><%= current_user.try(:full_name).present? ? current_user.full_name : 'USER' %></p>

          <div class="dropdown small">
            <button class="btn center-block text-center user-status dropdown-toggle" type="button" data-toggle="dropdown">
              <i class="fa fa-circle <%= current_user.is_available? ? 'text-color-follower': '' %>"></i>&nbsp; <span><%= current_user.is_available? ? 'Available': 'Unavailable' %></span>
              <i class="fa fa-angle-down"></i>
            </button>

            <ul class="dropdown-menu user-status ">
              <% if current_user.is_available? %>
                  <li><%= link_to 'Unavailable', toggle_available_profile_index_path, remote: true %></li>
              <% else %>
                  <li><%= link_to 'Available', toggle_available_profile_index_path(available: true), remote: true %></li>
              <% end %>
            </ul>

          </div>
        </div>
        <hr>
        <% if current_user.influencer? %>
            <p class="text-center font-hind">
              <%= number_with_delimiter(current_user.max_followers) %> Likes
            </p>
        <% end %>
      </div>

      <br/>

      <ul class="sidebar-menu">
        <li class="<%= ((params[:controller] == 'profile' && params[:action] == 'update') || (params[:controller] == 'profile' && params[:action] == 'profile') || (params[:controller] == 'profile' && params[:action] == 'faqs')) ? 'active' : '' %>">
          <a href="<%= profile_profile_index_path %>">
            <i class="fa fa-user"></i> <span class="space-sidebar">PROFILE</span>
          </a>
        </li>

        <% if current_user.brand? %>

            <li class="<%= (params[:controller] == 'offers') ? 'active' : '' %>">
              <a href="<%= offers_path %>">
                <span class="glyphicon glyphicon-envelope"> </span>
                <span class="space-sidebar">MESSAGES
                  <span class="unread-message">
                    <% if current_user.unread_messages > 0 %>
                       (<span class="unread-message-number"><%= current_user.unread_messages %></span>)
                    <% end %>
                  </span>
                </span>
              </a>
            </li>

            <li class="<%= (params[:controller] == 'explores' && params[:action] == 'show') ? 'active' : '' %>">
              <a href="<%= explores_path %>">
                <span class="fa fa-search"> </span><span class="space-sidebar">EXPLORE</span>
              </a>
            </li>

            <li class="<%= (params[:controller] == 'campaigns') ? 'active' : '' %>">
              <a href="<%= campaigns_path %>">
                <span class="glyphicon icon-horn"></span><span class="space-sidebar">CAMPAIGNS</span>
              </a>
            </li>

            <li  class="<%= (params[:controller] == 'payments') ? 'active' : '' %>">
              <a href="<%= payments_path %>">
                <i class="fa fa-dollar"></i><span class="space-sidebar">PAYMENTS</span>
              </a>
            </li>

        <% else %>

            <li class="<%= (params[:controller] == 'offers') ? 'active' : '' %>">
              <a href="<%= offers_path %>">
                <span class="glyphicon glyphicon-envelope"> </span>
                <span class="space-sidebar">
                  OFFERS
                <span class="unread-message">
                    <% if current_user.unread_messages > 0 %>
                       (<span class="unread-message-number"><%= current_user.unread_messages %></span>)
                    <% end %>
                  </span>
                </span>
              </a>
            </li>

            <li class="<%= (params[:controller] == 'facebook' && params[:action] == 'insights') ? 'active' : '' %>">
              <a href="<%= insights_facebook_index_path %>">
                <i class="fa fa-facebook"></i><span class="space-sidebar">FACEBOOK</span>
              </a>
            </li>

            <li class="<%= (params[:controller] == 'campaigns') ? 'active' : '' %>">
              <a href="<%= campaigns_path %>">
                <span class="glyphicon icon-horn"></span><span class="space-sidebar">CAMPAIGNS</span>
              </a>
            </li>

            <li class="<%= (params[:controller] == 'payments') ? 'active' : '' %>">
              <a href="<%= payments_path %>">
                <i class="fa fa-dollar"></i><span class="space-sidebar">PAYMENTS</span>
              </a>
            </li>

        <% end %>

        <li class="<%= (params[:controller] == 'profile' && params[:action] == 'contact_us') ? 'active' : '' %>">
          <a href="<%= contact_us_profile_index_path %>">
            <i class="fa fa-phone"></i><span class="space-sidebar">CONTACT US</span>
          </a>
        </li>
        <li class="<%= (params[:controller] == 'profile' && params[:action] == 'show_settings') ? 'active' : '' %>">
          <a href="<%= settings_profile_index_path %>">
            <i class="fa fa-cog"></i><span class="space-sidebar">SETTINGS</span>
          </a>
        </li>
      </ul>
    </section>

    <%= render partial: 'shared/profile_image_upload', locals: { user: current_user } %>
  </aside>

  <div class="content-wrapper">
    <section class="header-content">
      <div class="row">
        <div class="about-welcome">
          <%= link_to 'FAQs', faqs_public_index_path, class: 'about' %>

          <p class=" welcome"> Welcome back, <%= current_user.try(:full_name).present? ? current_user.full_name : 'USER' %></p>
          <a href="<%= destroy_user_session_path %>" class="login-link">
            <p class="text-black text-center"><i class="fa fa-power-off"></i></p>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <a href="<%= current_user.brand? ? brand_home_public_index_path : root_url %>"><%= image_tag('Logo.png', :class => 'image img-responsive header-logo', :alt => 'Logo') %></a>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 search-top-margin">
          <!-- search form -->
          <form action="<%= current_user.brand? ? explores_path : search_influencers_path %>" method="get" class="form-group">
            <button type="submit" class="btn-circle center-block pull-right">GO</button>
            <input value="<%= params[:search_key].presence %>" name="search_key" class="form-control rounded-input-box" type="search" placeholder="Enter Keywords..."/>
            <span class="glyphicon glyphicon-search"></span>
          </form>
        </div>

      </div>
    </section>

    <div class="header-bottom-margin"></div>

    <!-- main content -->
    <div class="main-content">
      <%= render partial: 'shared/flash_messages', flash: flash %>

      <%= yield %>

    </div>

  </div>

</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
  <div class="text-center footer-content">
    All Rights Reserved <span class="rights-reserved">&reg;</span> Brand Reach | Copyright 2015
  </div>
</footer>

</body>
</html>

<script id="offer-template" type="text/x-handlebars-template">
  <div class="message message-{{campaign_id}}">
    <img src="{{sender_profile_picture_url}}" class='inbox-logo-responsive'>
    <span class="title">{{body}}</span>
  </div>
</script>

