<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<%= stylesheet_link_tag 'brands_home', media: 'all', 'data-turbolinks-track' => true %>
<% user_type =  params[:action] == 'brand_home' ? 'brand' : 'influencer' %>

<%#= render partial: 'shared/flash_messages', flash: flash %>
<div class="welcome_bar">
  <div class="wrapper-content">
    <div class="left">Good <span class="greeting"><%= local_time(Time.now, '%P') %></span>, <%= user_signed_in? ? current_user.full_name : 'Guest' %>!</div>
    <div class="right top_links">
      <p>
        <% if user_signed_in? %>
            <a class="hidden-xs" href="<%= profile_profile_index_path %>">DASHBOARD</a>
            <a class="hidden-xs" href="<%= faqs_public_index_path %>">FAQs</a>
            <a class="hidden-xs" href="<%= destroy_user_session_path %>">LOG OUT</a>
      <% else %>
            <a class="hidden-xs" href="<%= faqs_public_index_path %>">FAQs</a>
            <% unless params[:controller] == 'sessions' %>
                <a class="hidden-xs" href='javascript:;' id="js-sign-in-btn">Login</a>
            <% end %>
      <% end %>
      </p>
      <div class="socialmedia">
        <div class="fb-twitter">
          <a href="#">
            <i class="fa fa-lg fa-facebook"></i>
          </a>
          <span class="space"></span>
          <a href="#">
            <i class="fa fa-lg fa-twitter"></i>
          </a>
          <span class="space"></span>
          <a href="#">
            <i class="fa fa-lg fa-linkedin"></i>
          </a>
          <span class="space"></span>
          <a href="#">
            <i class="fa fa-lg fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header">

  <div class="wrapper-content logo-container">
    <a href="<%= home_path %>"><%= image_tag('Logo.png', :class => 'logo public-page-logo', :alt => 'logo test') %></a>
    <nav class="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="true">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse home-menu" id="myNavbar">
        <ul class="nav navbar-nav my-nav-bar <%= user_signed_in? ? 'last-nav-item' : ''%>">
          <li><%= link_to 'INFLUENCERS', influencer_home_public_index_path, class: current_path(influencer_home_public_index_path) %></li>
          <li><%= link_to 'BRANDS', brand_home_public_index_path, class: current_path(brand_home_public_index_path) %></li>

          <% if params[:action] == 'home' || params[:action] == 'brand_home' %>
              <li id="about"><a href="#about_us">ABOUT US</a></li>
              <li id="nav-contact-us"><a href="#contact_us">CONTACT US</a></li>
          <% else %>
              <li id="about"><a href="<%=influencer_home_public_index_path%>#about_us">ABOUT US</a></li>
              <li id="nav-contact-us"><a href="<%=influencer_home_public_index_path%>#contact_us">CONTACT US</a></li>
          <% end %>

          <% if user_signed_in? %>
              <li class="visible-xs-inline"><a href="<%= faqs_public_index_path %>" class="<%= current_path(faqs_public_index_path) %>">FAQs</a></li>
              <li class="visible-xs-inline"><a href="<%= profile_profile_index_path %>">DASHBOARD</a></li>
              <li class="visible-xs-inline"><a href="<%= destroy_user_session_path %>">LOG OUT</a></li>
          <% else %>
              <li class="visible-xs-inline"><a href="<%= faqs_public_index_path %>" class="<%= current_path(faqs_public_index_path) %>">FAQs</a></li>
              <li class="visible-xs-inline"><a href='#signin'  data-toggle = 'modal'>LOGIN</a></li>
              <li>
                <%= link_to 'SIGN UP FREE',
                            'javascript:;',
                            :class => 'btn-custom btn-theme text-white raleway-semibold',
                            id: 'js-sign-up-btn'    %>
              </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</div>

<%= yield %>

<!-- partial rendering section -->
<% if params[:action] == 'home' || params[:action] == 'brand_home' %>
    <%= render 'shared/footer_home_page' %>
<% else %>
    <%= render 'shared/footer_other_page' %>
<% end %>

<%#= render partial: 'shared/sign_up_modal'%>
<%#= render partial: 'shared/sign_in_modal'%>
<%= render partial: 'shared/sign_up_success_message'%>
<%= render partial: 'shared/forgot_password'%>

<div class="public-page-modal-container">
     <% type = params[:sign_in_modal] ? 'sign_in' : 'sign_up' %>

     <%= render(:partial => 'shared/sign_in_modal',
                            :locals => { user_type: user_type, type: type }) %>
</div>

</body>
</html>

<%= javascript_include_tag 'counterup.min', 'data-turbolinks-track' => true %>

<script>
    $(function () {
//        show sing in modal
        <% if params[:sign_in_modal] || params[:sign_up_modal] %>
             $('#signin').modal('show');
        <% end %>

        $('#nav-contact-us a').click(function(){
            $('html, body').animate({
                scrollTop: $( $.attr(this, 'href') ).offset().top
            }, 1200);
            return false;
        });

        $('#about a').click(function(){
            $('html, body').animate({
                scrollTop: $( $.attr(this, 'href') ).offset().top
            }, 1000);
            return false;
        });


        // for counting number from 0 to upto some value

//        $(document).scroll(function() {
//            var $window = $(window);
//            var docViewTop = $window.scrollTop();
//            var $elem = $('.statistics');
//            var elemTop = $elem.offset().top;
//            console.log(elemTop+ '' + docViewTop);
//
//            if(elemTop < docViewTop)
//            {
//                $('.count').counterUp({
//                    delay: 100,
//                    time: 4000
//                });
//            }
//        });

        $(document).ready(function() {

            $('.numeric').each(function(){
                var value = $(this).data("value");
                $(this).text(value);
            });

            $('.count').counterUp({
                delay: 20,
                time: 3000
            });

        });

//        change greeting for local time
        var dateString = $('span.greeting').html();
        $('span.greeting').html(greetingText(dateString));

        function greetingText(date_string){
             return date_string.split('>')[1].split('</')[0] == 'am' ? 'morning' : 'afternoon'
        }

        $('#js-sign-up-btn').click(function(){
            showLoginSingnUpModal('sign_up');
        });

        $('#js-sign-in-btn').click(function(){
            showLoginSingnUpModal('sign_in');
        });
    }); // end of document ready function

        function showLoginSingnUpModal(type){
            $('#signin').modal('show');

            if( type == 'sign_in'){
              $('.js-sign-in').addClass('active');
              $('.js-sign-up').removeClass('active');
            }else{
                $('.js-sign-up').addClass('active');
                $('.js-sign-in').removeClass('active');
            }
        }

        function resetSignUpFormData(){
            $('#ajax-signup')[0].reset();
        }
</script>