<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.counterup/1.0/jquery.counterup.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<%= stylesheet_link_tag 'brands_home', media: 'all', 'data-turbolinks-track' => true %>

<%#= render partial: 'shared/flash_messages', flash: flash %>
<div class="welcome_bar">
  <div class="wrapper-content">
    <div class="left">Good <%= (0..11).include?(Time.now.hour) ? 'morning' : 'afternoon'%>, <%= user_signed_in? ? current_user.full_name : 'Guest' %>!</div>
    <div class="right top_links">
      <p>
        <% if user_signed_in? %>
            <a class="hidden-xs" href="<%= profile_profile_index_path %>">DASHBOARD</a>
            <a class="hidden-xs" href="<%= faqs_public_index_path %>">FAQs</a>
            <a class="hidden-xs" href="<%= destroy_user_session_path %>">LOG OUT</a>
      <% else %>
            <a class="hidden-xs" href="<%= faqs_public_index_path %>">FAQs</a>
            <% unless params[:controller] == 'sessions' %>
                <a class="hidden-xs" href='#signin'  data-toggle = 'modal'>Login</a>
            <% end %>
      <% end %>
      </p>
      <div class="socialmedia">
        <div class="fb-twitter">
          <a href="#">
            <i class="fa fa-lg fa-facebook"></i>
          </a>
          <span class="space"></span>
          <a href="#">
            <i class="fa fa-lg fa-twitter"></i>
          </a>
          <span class="space"></span>
          <a href="#">
            <i class="fa fa-lg fa-linkedin"></i>
          </a>
          <span class="space"></span>
          <a href="#">
            <i class="fa fa-lg fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header">

  <div class="wrapper-content logo-container">
    <%= image_tag('Logo.png', :class => 'logo', :alt => 'logo') %>
    <nav class="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="true">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse home-menu" id="myNavbar">
        <ul class="nav navbar-nav my-nav-bar <%= user_signed_in? ? 'last-nav-item' : ''%>">
          <li><%= link_to 'INFLUENCERS', influencer_home_public_index_path, class: current_path(influencer_home_public_index_path) %></li>
          <li><%= link_to 'BRANDS', brand_home_public_index_path, class: current_path(brand_home_public_index_path) %></li>
          <li id="about"><a href="#about_us">ABOUT US</a></li>
          <li id="nav-contact-us"><a href="#contact_us">CONTACT US</a></li>
          <% if user_signed_in? %>
              <li class="visible-xs-inline"><a href="<%= faqs_public_index_path %>" class="<%= current_path(faqs_public_index_path) %>">FAQs</a></li>
              <li class="visible-xs-inline"><a href="<%= profile_profile_index_path %>">DASHBOARD</a></li>
              <li class="visible-xs-inline"><a href="<%= destroy_user_session_path %>">LOG OUT</a></li>
          <% else %>
              <li class="visible-xs-inline"><a href="<%= faqs_public_index_path %>" class="<%= current_path(faqs_public_index_path) %>">FAQs</a></li>
              <li class="visible-xs-inline"><a href='#signin'  data-toggle = 'modal'>LOGIN</a></li>
              <li><%= link_to 'SIGN UP FREE', '#signup', 'data-toggle' => 'modal', :class => 'btn-custom btn-theme text-white raleway-semibold' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</div>

<%= yield %>

<div class="contact-us" id="contact_us">
  <div class="wrapper-content">

    <div class="row contact-form">
      <div class="col-md-7 col-sm-8 col-xs-12">
        <div class="text-top helvetica-neue-light"> Get in touch!</div>

        <%= form_tag get_in_touch_public_index_path, data: { parsley_validate: '' } do %>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="full_name" placeholder="Full Name" data-parsley-required="true"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12 clear-padding-margin">
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email" data-parsley-type="email" data-parsley-required="true"/>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 clear-padding-margin only-right-padding">
                <div class="form-group">
                  <input type="text" data-parsley-pattern="(^[\+]?[0-9]+[-]?[0-9]+[-]?[0-9]+$)" data-parsley-required="true" class="form-control" name="phone_number" placeholder="Phone Number"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <textarea class="form-control" name="message" placeholder="Message" rows="6" data-parsley-required="true"></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <%= submit_tag 'SUBMIT', class: 'btn btn-primary btn-submit raleway-semibold' %>
              </div>
            </div>
        <% end %>

      </div>
    </div>

  </div>
  <div class="footer row">
    <div class="wrapper-content">
      <div class="col-md-6 col-sm-6 col-xs-12 footer-info-padding">
        All Rights Reserved <span class="rights-reserved">&reg;</span> Brand Reach | Copyright 2015
      </div>
      <div class="col-md-2 col-sm-2  col-xs-12 col-md-offset-4 col-sm-offset-4">
        <div class="fb-twitter">
          <a href="#">
            <i class="fa fa-lg fa-facebook"></i>
          </a>
          <span class="space"></span>
          <a href="#">
            <i class="fa fa-lg fa-twitter"></i>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- partial rendering section -->

<%= render partial: 'shared/sign_up_modal'%>
<%= render partial: 'shared/sign_in_modal'%>
<%= render partial: 'shared/sign_up_success_message'%>

</body>
</html>
<script>
    $(function () {

        setTopNav();
        $(document).scroll(function() {
            setTopNav();
        });

        function setTopNav(){
            var scrollTop = $(document).scrollTop();
            var sPixel = 60;
            var windowWidth = $( window ).width();
            scrollTop = scrollTop > 55 ? 54 : scrollTop;
            if(scrollTop < 55 && windowWidth > 767){
                var setValue = sPixel - scrollTop;
                $('.logo-container').css('padding-top', setValue);
                console.log('with in onload and set top-padding ' + setValue);

            }
        }

        $('#nav-contact-us a').click(function(){
            $('html, body').animate({
                scrollTop: $( $.attr(this, 'href') ).offset().top
            }, 1000);
            return false;
        });

    });
</script>